* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

//  Variables
@font-face {
  font-family: 'Poppins';
  src: url('../../../dist/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../dist/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../dist/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(../iconfont/MaterialIcons-Regular.woff2) format("woff2"),
    url(../iconfont/MaterialIcons-Regular.woff) format("woff"),
    url(../iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

$color__white: #fff;
$color__purple: #652783;
$text__color: #535353;
$txt__color: #b1b1b1;
$pr__color: #0d8f52;

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

a {
  font-size: 1.2rem;

  &:hover {
    text-decoration: none;
  }
}

h2 {
  font-size: 2rem;
  color: $text__color;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  color: $text__color;
}

p {
  font-size: 1.1rem;
  color: $txt__color;
  font-weight: 500;
  font-family: "Poppins";
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: $pr__color;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: $color__white;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px $pr__color;

  &:focus {
    outline: none;
  }
}

// mainStyles

//  Start of nav section
.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color__white;
  box-shadow: 0 1px 6px -3px #000000a1;
}

header {
  background-color: $color__white;

  .material-icons {
    color: $text__color;
  }

  nav {
    .navbar-brand {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600;
      color: $text__color;
    }

    .navbar-nav {
      li {
        padding: 0 1.5rem;
        position: relative;

        .active {
          &::before {
            position: absolute;
            content: "";
            background-color: #5353537d;
            height: 0.1rem;
            width: 69%;
            border-radius: 0.5rem;
            left: 0%;
            bottom: 0;
            visibility: visible;
            opacity: 1;
          }
        }

        a {
          text-transform: uppercase;
          font-size: 1.1rem;
          font-family: "Product Sans";
          font-weight: 400;
          color: $text__color;
          position: relative;
          overflow: hidden;
          padding: 0 !important;

          &::before {
            position: absolute;
            content: "";
            background-color: #5353537d;
            height: 0.1rem;
            width: 69%;
            border-radius: 0.5rem;
            left: -50%;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
          }

          &:hover {
            &::before {
              visibility: visible;
              opacity: 1;
              left: 0;
            }
          }
        }

        .signup {
          margin-left: 2.5rem;
        }
      }
    }
  }
}

// End of nav section

// home header area top starts
#home__header__area--top {
  position: relative;
  background-color: $color__white;
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;

  .home__content {
    color: $text__color;
    z-index: 111;
    padding-top: 4rem;
    padding-bottom: 2rem;

    h2 {
      margin-bottom: 1.5rem;
    }

    p {
      padding: 1rem 5rem;
    }
  }

  // faq starts
  .faq {
    padding: 2rem 0;
    border-radius: 0.8rem;
    background-color: #f7f7f7;

    &-header {
      margin-bottom: 2rem;

      h2 {
        color: $text__color;
        font-weight: 400;
      }
    }

    .faqCard {
      &-header {
        h2 {
          padding: 1rem 0;

          button {
            padding: 0;
            width: 100%;
            background-color: $color__white !important;
            color: $text__color;
            font-size: 1.3rem;
            display: flex;
            justify-content: space-between;
            text-align: left;
            box-shadow: 0px 0px 6px -2px #00000066;

            &:hover {
              text-decoration: none;
            }

            &:focus {
              border: none;
              outline: none;
              box-shadow: none;
              text-decoration: none;
            }
          }

          .info {
            h4 {
              padding: 0.5rem;
              font-size: 1.2rem;
              margin-bottom: 0 !important;
            }

            p {
              padding: 0.5rem;
              margin-bottom: 0 !important;
              font-size: 1.1rem;
              color: $pr__color;
            }
          }

          .collapsed {
            .add-remove {
              .remove-icon {
                display: none;
              }

              .add-icon {
                display: block;
              }
            }
          }

          .add-remove {
            .remove-icon {
              color: #7070708f;
              padding: 0.5rem;
              display: block;
            }

            .add-icon {
              color: #7070708f;
              padding: 0.5rem;
              display: none;
            }
          }
        }
      }

      &-body {
        background-color: #ffffff9e;
        padding: 1rem 0.5rem;
        margin-top: -2rem;

        p {
          font-size: 1rem;
          color: #53535399;
          font-weight: 400;
          margin-bottom: 0;
          padding: 1rem;
        }
      }
    }
  }

  // faq ends
  .btn__pr {
    margin-top: 2rem;
  }

  .home__content__bottom {
    padding: 2.5rem 0;

    h4 {
      color: #535353bd;
      font-weight: 500;
    }

    span {
      color: #f08c2d;
      padding: 0 0.5rem;
      font-weight: 500;

      &:before {
        position: absolute;
        content: " ";
        background-color: #f08c2d;
        width: 143px;
        bottom: 47px;
        height: 1px;
        z-index: 111;
      }
    }
  }
}

// home header area top ends

// footer area starts
footer {
  padding-top: 5rem;
  background-color: #f9f9f9;
  padding-bottom: 2.2rem;

  .footer-header {
    margin-bottom: 2rem;

    h2 {
      font-weight: 600;
      color: #150e26;
      margin-bottom: -1.5rem !important;
      font-family: "products", sans-serif;
    }

    h4 {
      font-size: 1.4rem !important;
      font-weight: 500;
      color: #150e26;
      font-family: "products", sans-serif;
    }
  }

  .footer-content {
    ul {
      list-style: none;

      li {
        padding: 0.3rem 0;

        a {
          color: #150e26;
          font-size: 1.1rem;
          font-family: "products", sans-serif;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-social {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 1rem;

        a {
          &:hover {
            text-decoration: none;
          }

          img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            object-position: bottom;
          }
        }
      }
    }
  }

  .copyright {
    padding-top: 2rem;

    p {
      color: #150e26;
      font-weight: 400;
    }
  }
}

// footer area ends

// Responsiveness
@media screen and (max-width: 1199px) {
  input[type="submit"] {
    right: 82px !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    li {
      padding: 0 1rem !important;

      a {
        font-size: 1rem !important;
      }
    }
  }

  #home__header__area--top {
    .home__content {
      padding-top: 5rem;

      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav li {
    padding: 0 0.3rem !important;
  }

  .navbar-nav li .signup {
    margin-left: 0rem !important;
  }

  .navbar-nav li a {
    &::before {
      width: 16% !important;
    }
  }

  .navbar-nav li .active::before {
    width: 10% !important;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  #collapsibleNavId {
    margin-top: 1rem;
  }

  .navbar {
    padding: 0.5rem 0;
  }

  #home__header__area--top {
    padding-bottom: 2rem;

    .home__content {
      padding-top: 3rem;

      p {
        padding: 1rem 2rem;
      }
    }

    hr {
      margin-top: -1rem;
      margin-bottom: 2rem;
    }

    .btn__pr {
      padding: 0.6rem 3rem;
    }

    .home__content__bottom {
      h4 {
        font-size: 1.4rem;
      }

      span {
        &::before {
          width: 128px;
        }
      }
    }
  }

  .footer-social {
    ul {
      li {
        a {
          img {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  #home__header__area--top {
    .faq {
      .faqCard-header {
        h2 {
          .info {
            h4 {
              padding: 0.5rem;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .navbar-nav li .active::before {
    width: 12% !important;
  }

  #home__header__area--top {
    .home__content {
      h2 {
        font-size: 1.5rem;
      }
    }

    .faq {
      .faqCard-header {
        h2 {
          .info {
            h4 {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .btn__pr {
      padding: 0.6rem 1.8rem;
    }
  }

  footer {
    .footer-header {
      h2 {
        font-size: 1.6rem;
      }

      h4 {
        font-size: 1.3rem !important;
      }
    }

    .footer-content {
      ul li a {
        font-size: 1rem;
      }
    }

    .footer-social {
      ul li a img {
        width: 1.3rem;
        height: 1.4rem;
      }
    }

    .copyright {
      p {
        font-size: 0.9rem;
        margin-bottom: 0;
      }
    }
  }
}