* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

footer {
  padding-top: 5rem;
}
@media (max-width: 991px) {
  footer {
    padding-top: 3.5rem;
  }
}
@media (max-width: 767px) {
  footer {
    padding-top: 1.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
@media (max-width: 991px) {
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  a {
    font-size: 0.9rem;
  }
}

input {
  font-size: 1.2rem !important;
}
@media (max-width: 991px) {
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 767px) {
  input {
    font-size: 0.9rem !important;
  }
}

button {
  font-family: "Product Sans";
}
@media (max-width: 991px) {
  button {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  button {
    font-size: 0.9rem;
  }
}
button:focus {
  outline: none;
}

.btn-pr {
  background-color: #0D8F52;
  box-shadow: 0px 13px 15px -15px #44bd32;
  color: #fff;
  font-weight: 400;
  font-family: "Product Sans";
  font-size: 1.1rem;
  border: 1px solid #0d8f5254;
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 0.5rem 3rem;
  letter-spacing: 1px;
}
.btn-pr img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.3rem;
}
@media (max-width: 991px) {
  .btn-pr {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-pr {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0D8F52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0D8F52;
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px #000000a1;
}
.fixed-header nav .navbar-brand {
  color: #535353;
}
.fixed-header nav .navbar-nav li a {
  color: #535353;
}
.fixed-header nav .navbar-nav li a::before {
  background-color: #0D8F52;
}
.fixed-header nav .navbar-nav li .active::before {
  background-color: #0D8F52;
}

label {
  font-size: 1.2rem;
}
@media (max-width: 991px) {
  label {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  label {
    font-size: 0.9rem;
  }
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #0d8f525e;
  border-color: #0d8f525e;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0D8F52;
  border-color: #0D8F52;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
footer {
  background-color: #f9f9f9;
}
footer .footer-header {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  footer .footer-header {
    margin-bottom: 0.5rem;
  }
}
footer .footer-header h2 {
  font-weight: 400;
  color: #535353;
  font-family: "Product Sans";
}
footer .footer-header h4 {
  font-weight: 400;
  color: #535353;
  font-family: "Product Sans";
}
@media (max-width: 767px) {
  footer .footer-content {
    margin-bottom: 1.5rem;
  }
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content ul li {
  padding: 0.3rem 0;
}
footer .footer-content ul li a {
  color: #535353;
  font-size: 1.1rem;
  font-family: "Product Sans";
}
@media (max-width: 767px) {
  footer .footer-content ul li a {
    font-size: 1rem;
  }
}
footer .footer-content ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul {
  list-style: none;
  display: flex;
}
footer .footer-social ul li {
  margin-right: 1rem;
}
footer .footer-social ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  object-position: bottom;
}
@media (max-width: 767px) {
  footer .footer-social ul li a img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
footer .copyright {
  padding-top: 2rem;
}
footer .copyright p {
  color: #535353;
  font-weight: 400;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  footer .copyright p {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  footer .copyright p {
    font-size: 0.9rem;
  }
}

header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}
header .material-icons {
  color: #535353;
}
header nav .navbar-brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #535353;
}
header nav .navbar-nav li {
  padding: 0 1.5rem;
  position: relative;
}
@media (max-width: 991px) {
  header nav .navbar-nav li {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  header nav .navbar-nav li {
    padding: 0;
  }
}
header nav .navbar-nav li .active::before {
  position: absolute;
  content: "";
  background-color: #0D8F52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: 0%;
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
header nav .navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Product Sans";
  font-weight: 400;
  color: #535353;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}
@media (max-width: 767px) {
  header nav .navbar-nav li a {
    display: inline-block;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  header nav .navbar-nav li a {
    font-size: 0.9rem;
  }
}
header nav .navbar-nav li a::before {
  position: absolute;
  content: "";
  background-color: #0D8F52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: -50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
header nav .navbar-nav li a:hover::before {
  visibility: visible;
  opacity: 1;
  left: 0;
}
header nav .navbar-nav li .signup {
  margin-left: 2.5rem;
}
@media (max-width: 767px) {
  header nav .navbar-nav li .signup {
    margin-left: 0;
  }
}

#home__header__area--top {
  position: relative;
  background-color: #b4e9cb3b;
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}
#home__header__area--top .home__content {
  padding-top: 12rem;
  color: #535353;
  z-index: 111;
}
@media (max-width: 991px) {
  #home__header__area--top .home__content {
    padding-top: 7rem;
  }
}
@media (max-width: 767px) {
  #home__header__area--top .home__content {
    padding-top: 3rem;
  }
}
#home__header__area--top .home__content h2 {
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  #home__header__area--top .home__content h2 {
    font-size: 1.8rem;
  }
}
#home__header__area--top .home__content p {
  max-width: 535px;
  width: 100%;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  #home__header__area--top .home__content p {
    font-size: 1rem;
  }
}
#home__header__area--top .home__content .btn__pr {
  margin-top: 1.2rem;
}
@media (max-width: 991px) {
  #home__header__area--top .home__content .btn__pr {
    padding: 0.8rem 3rem;
  }
}
#home__header__area--top .home__content h4 {
  position: relative;
  background-color: #36953847;
  padding: 1.5rem 1.5rem;
  text-align: center;
  color: #fff;
  margin-top: -34%;
}
#home__header__area--top--business {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
  position: relative;
}
@media (max-width: 767px) {
  #home__header__area--top--business {
    padding-bottom: 0;
  }
}
#home__header__area--top--business .home__content {
  padding-top: 8rem;
  color: #535353;
  z-index: 111;
}
@media (max-width: 991px) {
  #home__header__area--top--business .home__content {
    padding-top: 7rem;
  }
}
@media (max-width: 767px) {
  #home__header__area--top--business .home__content {
    padding-top: 3rem;
  }
}
#home__header__area--top--business .home__content img {
  max-width: 420px;
  width: 100%;
  object-fit: cover;
}
#home__header__area--top--business .home__content h2 {
  padding-top: 3.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  #home__header__area--top--business .home__content h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  #home__header__area--top--business .home__content h2 {
    padding-top: 1rem;
  }
}
#home__header__area--top--business .home__content p {
  max-width: 400px;
  width: 100%;
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  #home__header__area--top--business .home__content p {
    font-size: 1rem;
  }
}
#home__header__area--top--business .home__content .btn__pr {
  background: none;
  color: #0D8F52;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0;
  background: none;
  box-shadow: none;
}
#home__header__area--top--business .home__content .btn__pr img {
  width: 18px;
  height: 14px;
  margin-left: 0.4rem;
}

#home__header__area--top--mission {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
#home__header__area--top--mission .home__content {
  padding-top: 5rem;
  color: #535353;
  z-index: 111;
}
@media (max-width: 991px) {
  #home__header__area--top--mission .home__content {
    padding-top: 7rem;
  }
}
@media (max-width: 767px) {
  #home__header__area--top--mission .home__content {
    padding-top: 1rem;
  }
}
#home__header__area--top--mission .home__content h2 {
  padding-top: 3.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  #home__header__area--top--mission .home__content h2 {
    font-size: 1.8rem;
  }
}
#home__header__area--top--mission .home__content p {
  max-width: 400px;
  width: 100%;
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  #home__header__area--top--mission .home__content p {
    font-size: 1rem;
  }
}
#home__header__area--top--mission .home__content .btn__pr {
  background: none;
  color: #0D8F52;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0;
  background: none;
  box-shadow: none;
}
#home__header__area--top--mission .home__content .btn__pr img {
  width: 18px;
  height: 14px;
  margin-left: 0.4rem;
}
@media (max-width: 767px) {
  #home__header__area--top--mission .home__content .btn__pr .btn__pr {
    margin-bottom: 2rem;
  }
}

#home__header__member__area {
  position: relative;
  background-image: url("../img/bg__area.png");
  background-size: cover;
  width: 100%;
  padding-top: 20rem;
  padding-bottom: 4rem;
}
#home__header__member__area .home__content {
  z-index: 111;
}
#home__header__member__area .home__content h2 {
  padding-bottom: 3rem;
}
@media (max-width: 991px) {
  #home__header__member__area .home__content h2 {
    font-size: 1.8rem;
  }
}
#home__header__member__area .member__icon img {
  max-width: 200px;
  width: 100%;
  object-fit: cover;
}
#home__header__member__area .member__icon p {
  color: #535353;
  text-align: center;
  max-width: 180px;
  width: 100%;
  height: 36px;
  padding-top: 1.3rem;
}
#home__header__member__area .member__icon h6 {
  color: #0D8F52;
  text-align: center;
  max-width: 178px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

#home__header__area--partner {
  position: relative;
  background-color: #fff;
  width: 100%;
  padding-bottom: 5rem;
}
#home__header__area--partner .home__content {
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: #535353;
  z-index: 111;
}
@media (max-width: 767px) {
  #home__header__area--partner .home__content {
    padding-top: 3rem;
  }
}
@media (max-width: 991px) {
  #home__header__area--partner .home__content h2 {
    font-size: 1.8rem;
  }
}
#home__header__area--partner .partner__top__area .partner__top {
  padding: 1.5rem 0;
}
#home__header__area--partner .partner__top__area .partner__top img {
  max-width: 175px;
  width: 100%;
  height: 56px;
  object-fit: contain;
}
@media (max-width: 1200px) {
  #home__header__area--partner .partner__top__area .partner__top img {
    max-width: 162px;
    width: 100%;
  }
}
@media (max-width: 991px) {
  #home__header__area--partner .partner__top__area .partner__top img {
    max-width: 115px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #home__header__area--partner .partner__top__area .partner__top img {
    max-width: 85px;
    width: 100%;
  }
}

#home__header__area--email {
  position: relative;
  background-image: url("../img/green__bg.png");
  background-size: cover;
  width: 100%;
  padding-bottom: 5rem;
}
#home__header__area--email .home__content {
  padding-top: 5rem;
  padding-bottom: 2rem;
  z-index: 111;
}
@media (max-width: 767px) {
  #home__header__area--email .home__content {
    padding-top: 4rem;
  }
}
#home__header__area--email .home__content h2 {
  color: #fff;
}
@media (max-width: 991px) {
  #home__header__area--email .home__content h2 {
    font-size: 1.8rem;
  }
}
#home__header__area--email input {
  outline: 0;
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-width: 0px 0 20px;
  border-bottom: 1px solid #fff;
  background: #00800005;
  border-color: #fff;
}
@media (max-width: 767px) {
  #home__header__area--email input input {
    width: 74%;
  }
}
#home__header__area--email input:focus {
  border-color: #fff;
}
#home__header__area--email input[type=text] {
  color: #fff;
  font-size: 1.1rem;
}
#home__header__area--email input[type=text]::placeholder {
  color: #fff;
  font-size: 1.1rem;
}
#home__header__area--email input[type=email] {
  color: #fff;
  font-size: 1.1rem;
  margin-top: 1rem;
}
#home__header__area--email input[type=email]::placeholder {
  color: #fff;
  font-size: 1.2rem;
}
#home__header__area--email input[type=textarea] {
  color: #fff;
  font-size: 1.1rem;
  margin-top: 1rem;
  padding-bottom: 8rem;
  margin-bottom: 1rem;
}
#home__header__area--email input[type=textarea]::placeholder {
  color: #fff;
  font-size: 1.2rem;
}
#home__header__area--email .btn__pr {
  background-color: #fff;
  color: #0d8f52;
  font-weight: 600;
  border-radius: 2.2rem;
  padding: 0.7rem 6rem;
  margin-top: 2rem;
}
#home__header__area--email .btn__pr:focus {
  outline: none;
}

#home__header__area--bottom {
  position: relative;
  background-color: #fff;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
#home__header__area--bottom .bottom__area {
  background-color: #fff;
  border-radius: 0.7rem;
  padding: 2rem;
  box-shadow: 0px 3px 14px #80808036;
}
#home__header__area--bottom .bottom__area h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #150e26;
}
#home__header__area--bottom .bottom__area p {
  max-width: 400px;
  width: 100%;
  font-weight: 400;
}
@media (max-width: 767px) {
  #home__header__area--bottom .bottom__area p {
    max-width: 100%;
  }
}
#home__header__area--bottom .bottom__area input[type=text] {
  position: relative;
  width: 85%;
  border: 1px solid #b1b1b1;
  border-color: 1px solid #aaaa;
  margin-top: 1.7rem;
  height: 49px;
  font-size: 1rem;
  color: #707070;
  border-radius: 0.3rem;
  outline: none;
  font-weight: 500 !important;
  padding: 1.3rem 1rem;
}
@media (max-width: 991px) {
  #home__header__area--bottom .bottom__area input[type=text] {
    width: 100%;
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  #home__header__area--bottom .bottom__area input[type=text] {
    margin-top: 1rem;
  }
}
#home__header__area--bottom .bottom__area input[type=submit] {
  position: absolute;
  right: 96px;
  top: 31px;
  height: 42px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 2rem;
  background: #7ec76c;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border: none;
  outline: none;
}
@media (max-width: 1200px) {
  #home__header__area--bottom .bottom__area input[type=submit] {
    right: 82px !important;
  }
}
@media (max-width: 991px) {
  #home__header__area--bottom .bottom__area input[type=submit] {
    right: 18px !important;
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  #home__header__area--bottom .bottom__area input[type=submit] {
    top: 19px;
  }
}

@media screen and (max-width: 575px) {
  #home__header__area--top .home__content h2 {
    font-size: 1.6rem;
  }
  #home__header__area--top .home__content h4 {
    font-size: 1.3rem;
    width: 94%;
    left: 3%;
  }

  #home__header__area--top--business .home__content h2 {
    font-size: 1.6rem;
  }

  #home__header__area--top--mission .home__content h2 {
    font-size: 1.6rem;
  }

  #home__header__member__area .home__content h2 {
    font-size: 1.6rem;
  }

  #home__header__area--partner .home__content h2 {
    font-size: 1.6rem;
  }

  #home__header__area--email .home__content h2 {
    font-size: 1.6rem;
  }
  #home__header__area--email input[type=text] {
    font-size: 1rem;
  }
  #home__header__area--email input[type=email] {
    font-size: 1rem;
  }
  #home__header__area--email input[type=textarea] {
    font-size: 1rem;
  }
  #home__header__area--email input {
    width: 79%;
  }

  #home__header__area--bottom .bottom__area p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 475px) {
  .navbar-nav li .active::before {
    width: 12% !important;
  }

  #home__header__area--top .home__content h2 {
    font-size: 1.5rem;
  }
  #home__header__area--top .home__content h4 {
    width: 93.3%;
  }
  #home__header__area--top .home__content .btn__pr {
    padding: 0.6rem 2.8rem;
  }

  #home__header__area--top--business .home__content h2 {
    font-size: 1.5rem;
  }

  #home__header__area--top--mission .home__content h2 {
    font-size: 1.5rem;
  }

  #home__header__member__area .home__content h2 {
    font-size: 1.5rem;
  }

  #home__header__area--partner .home__content h2 {
    font-size: 1.5rem;
  }
  #home__header__area--partner .partner__top__area {
    flex-direction: column;
  }
  #home__header__area--partner .partner__top__area .partner__top img {
    max-width: 129px;
    width: 100%;
  }

  #home__header__area--email .home__content h2 {
    font-size: 1.5rem;
  }
  #home__header__area--email input {
    width: 88%;
  }
  #home__header__area--email .btn__pr {
    padding: 0.6rem 5rem;
  }

  #home__header__area--bottom .bottom__area h4 {
    font-size: 1.5rem;
  }

  footer .footer-header h2 {
    font-size: 1.6rem;
  }
  footer .footer-header h4 {
    font-size: 1.3rem !important;
  }
  footer .footer-content ul li a {
    font-size: 1rem;
  }
  footer .footer-social ul li a img {
    width: 1.3rem;
    height: 1.4rem;
  }
  footer .copyright p {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 440px) {
  #home__header__area--email input {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  #home__header__area--top .home__content h2 {
    font-size: 1.4rem;
  }

  #home__header__area--top--business .home__content h2 {
    font-size: 1.4rem;
  }

  #home__header__area--top--mission .home__content h2 {
    font-size: 1.4rem;
  }

  #home__header__member__area .home__content h2 {
    font-size: 1.4rem;
  }
  #home__header__member__area .member__icon p {
    font-size: 1rem;
  }
  #home__header__member__area .member__icon h6 {
    font-size: 0.9rem;
  }

  #home__header__area--partner .home__content h2 {
    font-size: 1.4rem;
  }

  #home__header__area--email .home__content h2 {
    font-size: 1.4rem;
  }

  #home__header__area--bottom .bottom__area h4 {
    font-size: 1.3rem;
  }
  #home__header__area--bottom .bottom__area input[type=text] {
    font-size: 0.8rem;
    padding: 1.3rem 0.4rem;
  }
  #home__header__area--bottom .bottom__area input[type=submit] {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 350px) {
  #home__header__area--bottom .bottom__area input[type=submit] {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 330px) {
  #home__header__member__area .member__icon p {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
