* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.row {
  row-gap: 1.2rem;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
@media (max-width: 991px) {
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  a {
    font-size: 0.9rem;
  }
}

input {
  font-size: 1.2rem !important;
}
@media (max-width: 991px) {
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 767px) {
  input {
    font-size: 0.9rem !important;
  }
}

button {
  font-family: "Product Sans";
}
@media (max-width: 991px) {
  button {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  button {
    font-size: 0.9rem;
  }
}
button:focus {
  outline: none;
}

.btn-pr {
  background-color: #0d8f52;
  box-shadow: 0px 13px 15px -15px #44bd32;
  color: #fff;
  font-weight: 400;
  font-family: "Product Sans";
  font-size: 1.1rem;
  border: 1px solid rgba(13, 143, 82, 0.329);
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 1rem 4rem;
  letter-spacing: 1px;
}
@media (max-width: 575px) {
  .btn-pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn-pr img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.3rem;
}
@media (max-width: 991px) {
  .btn-pr {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-pr {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}

.secondary {
  background-color: transparent;
  color: #0d8f52;
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0d8f52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0d8f52;
}
@media (max-width: 575px) {
  .btn__pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 0.631);
}
.fixed-header nav .navbar-brand {
  color: #535353;
}
.fixed-header nav .navbar-nav li a {
  color: #535353;
}
.fixed-header nav .navbar-nav li a::before {
  background-color: #0d8f52;
}
.fixed-header nav .navbar-nav li .active::before {
  background-color: #0d8f52;
}

label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  label {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  label {
    font-size: 0.9rem;
  }
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: rgba(13, 143, 82, 0.369);
  border-color: rgba(13, 143, 82, 0.369);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0d8f52;
  border-color: #0d8f52;
  display: block;
}

.datepicker-dropdown {
  z-index: 9999999 !important;
}

.danger {
  color: #a40000 !important;
}

.del {
  background-color: #a40000 !important;
  border: 1px solid #a40000 !important;
  box-shadow: 0px 13px 15px -15px #ff7171 !important;
}
.del:hover {
  background-color: transparent !important;
  color: #a40000 !important;
}

.form-group label {
  font-size: 0.9rem;
  color: #b1b1b1;
  font-weight: 400 !important;
}
@media (max-width: 767px) {
  .form-group label {
    font-size: 0.8rem;
  }
}
.form-group .input-group-text {
  background-color: #eafdf4;
  color: #b1b1b1;
  border: 1px solid #f1f1f1;
  vertical-align: middle;
  display: inline-flex;
}
@media (max-width: 767px) {
  .form-group .input-group-text {
    font-size: 1.1rem;
  }
}
.form-group .form-control:disabled,
.form-group .form-control[readonly] {
  background-color: #fafafa !important;
}
.form-group .custom-select {
  padding: 0.5rem;
  height: 2.5rem;
  vertical-align: top;
  font-size: 0.9rem;
  border: 1px solid #f1f1f1;
  box-shadow: none;
}
@media (max-width: 575px) {
  .form-group .custom-select {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option {
  font-size: 1rem;
}
@media (max-width: 575px) {
  .form-group .custom-select option {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option:hover {
  background-color: #0d8f52;
}
.form-group .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.form-group .form-control {
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 0.9rem !important;
  border: 1px solid #f1f1f1;
}
.form-group .form-control::placeholder {
  color: #f1f1f1;
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .form-group .form-control::placeholder {
    font-size: 0.8rem;
  }
}
.form-group .form-control:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}

.modal-dialog .modal-content .form-group .btn-pr {
  padding: 0.5rem 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.more-page {
  margin-top: 1rem;
  display: table;
  margin-left: auto;
}
.more-page ul {
  margin-bottom: 0;
}
.more-page ul li a {
  color: #b1b1b1;
  transition: 0.3s;
  font-size: 1rem;
  font-family: "Product Sans";
  border: none;
  border: 1px solid #0d8f52 !important;
}
.more-page ul li a:focus {
  box-shadow: none;
  outline: none;
  background-color: #0d8f52 !important;
  color: #fff !important;
}
.more-page ul li a:hover {
  background-color: #eafdf4;
  color: #b1b1b1;
}
.more-page ul .active {
  background-color: #0d8f52 !important;
}
.more-page ul .active a {
  background-color: #0d8f52 !important;
  color: #fff !important;
  border: 1px solid #0d8f52 !important;
}

.custom-select {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve"%3E%3Cg%3E%3Cg id="arrow-drop-down"%3E%3Cpolygon points="0,63.75 127.5,191.25 255,63.75 "/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A');
}

.swiper-pagination-bullet-active {
  background-color: #0d8f52;
}

.dropdown-toggle::after {
  content: none !important;
}
.dropdown-toggle:focus {
  outline: none;
}

.note-dropdown-item {
  background-color: #e4e4e4 !important;
  border-radius: 0.2rem !important;
  display: block !important;
  color: #535353 !important;
  padding: 0 !important;
  margin: 5px 0 !important;
}
.note-dropdown-item h1 {
  font-size: 2.1rem !important;
  font-weight: 600;
}
.note-dropdown-item h2 {
  font-size: 1.9rem !important;
  font-weight: 600;
}
.note-dropdown-item h3 {
  font-size: 1.6rem !important;
  font-weight: 600;
}
.note-dropdown-item h4 {
  font-size: 1.4rem !important;
  font-weight: 600;
}
.note-dropdown-item h5 {
  font-size: 1.2rem !important;
  font-weight: 600;
}
.note-dropdown-item h6 {
  font-size: 0.9rem !important;
  font-weight: 600;
}
.note-dropdown-item p {
  font-size: 1rem !important;
  color: #535353 !important;
}
.note-editable {
  background-color: #fff !important;
}
.note-editable p {
  font-weight: 400 !important;
  color: #535353 !important;
  margin-bottom: 0 !important;
  font-size: 1rem !important;
}
.note-editable h1,
.note-editable h2,
.note-editable h3,
.note-editable h4,
.note-editable h5,
.note-editable h6 {
  color: #535353;
  font-weight: 600;
}

blockquote {
  border-width: 0.3rem;
  border-color: #0d8f52;
}

.note-editor.note-airframe.fullscreen,
.note-editor.note-frame.fullscreen {
  z-index: 99999 !important;
}

.note-modal-footer {
  height: 4rem;
}

.note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-editable {
  padding: 10px 25px;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

header nav ul {
  margin-bottom: 0;
}
header nav ul li a {
  color: #535353;
  font-size: 1rem;
  transition: 0.3s;
}
header nav ul li a .navbar-badge {
  top: 5px;
  right: 5px;
}
header nav ul li a:hover {
  color: #0d8f52;
}

.dropdown-item-title {
  color: #535353;
}
.dropdown-item-title .text-sm {
  color: #535353;
}
.dropdown-item:active {
  background-color: #0d8f52;
  color: #fff;
}

.wrapper .main-header {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper .main-header {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper .main-header {
    margin-left: 0 !important;
  }
}
.wrapper .content-wrapper {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper .content-wrapper {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper .content-wrapper {
    margin-left: 0 !important;
  }
}
.wrapper footer {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper footer {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper footer {
    margin-left: 0 !important;
  }
}

:not(.layout-fixed) .main-sidebar {
  position: fixed !important;
  width: 270px;
  height: 100%;
  z-index: 99999;
}
@media (max-width: 1200px) {
  :not(.layout-fixed) .main-sidebar {
    width: 250px;
  }
}

.main-sidebar {
  margin-top: 0 !important;
  border-radius: 0;
}

aside {
  background-color: #F9F9F9;
  width: max-content;
}
aside .brand-link {
  color: #fff !important;
  padding-left: 0.8rem;
}
aside .brand-link:hover {
  color: #fff;
}
aside .brand-link h4 {
  font-size: 1.5rem;
  margin: 0;
}
aside .sidebar .user-panel .info a {
  color: #b1b1b1;
  font-size: 0.9rem;
}
aside .sidebar nav .nav-sidebar li {
  width: 100%;
}
aside .sidebar nav .nav-sidebar li a {
  padding: 0.5rem;
}
aside .sidebar nav .nav-sidebar li a i {
  font-size: 0.9rem !important;
}
aside .sidebar nav .nav-sidebar li a p {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Product Sans";
}
aside .sidebar nav .nav-sidebar li .active {
  background-color: #0d8f52 !important;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0;
  font-size: 0.8rem;
  color: #b1b1b1;
}
footer p b {
  color: #535353;
  font-weight: 500;
}

.fixed-header {
  position: relative;
}

.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
  top: 0.99rem;
  transition: 0.3s !important;
}

.drop-down {
  width: max-content;
  background-color: transparent;
  position: relative;
  z-index: 999;
}
.drop-down a {
  color: #b1b1b1;
  width: 100%;
  display: block;
  cursor: pointer;
  display: inline-block;
  font-family: "Product Sans";
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .drop-down a {
    font-size: 1rem;
  }
}
.drop-down a .value {
  display: none;
}
.drop-down a i {
  vertical-align: middle;
  color: #b1b1b1;
}
.drop-down .options {
  position: absolute;
  top: 30px;
  z-index: 999;
  width: max-content;
}
.drop-down .options ul {
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.438);
  border: 1px solid #70707038;
  display: none;
  list-style: none;
  border-radius: 0.3rem;
  background-color: #fff;
  overflow: hidden;
}
.drop-down .options ul li {
  padding: 0.3rem 0.5rem;
  transition: 0.3s;
}
.drop-down .options ul li a {
  transition: 0.3s;
}
.drop-down .options ul li a .value {
  display: none;
}
.drop-down .options ul li:hover {
  background-color: #0d8f52;
}
.drop-down .options ul li:hover a {
  color: #fff;
}

.modal-dialog {
  max-width: 650px;
}
.modal-dialog .semi-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #0d8f52;
  margin-bottom: 1rem;
  border-bottom: 1px solid #0d8f52;
  padding: 1rem 0;
}
.modal-dialog .modal-body .top {
  display: flex;
  justify-content: flex-end;
}
.modal-dialog .modal-body .top .cross {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
.modal-dialog .modal-body .top .cross i {
  color: #535353;
  font-size: 1rem;
  line-height: 1.5rem;
}
.modal-dialog .modal-body .top .cross:hover {
  background-color: #d3fbe8;
}
.modal-dialog .modal-body .header {
  text-align: center;
  padding-bottom: 1rem;
}
.modal-dialog .modal-body .header h4 {
  color: #535353;
  font-weight: 500;
  margin-bottom: 0;
}
.modal-dialog .modal-body .image-center {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}
.modal-dialog .modal-body .image-center .file-up {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: auto;
  text-align: center;
  height: 2rem;
  background-color: #70707080;
}
.modal-dialog .modal-body .image-center .file-up label {
  height: 100%;
  cursor: pointer;
}
.modal-dialog .modal-body .image-center .file-up label input {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.modal-dialog .modal-body .image-center .file-up label span {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Product Sans";
}
.modal-dialog .modal-body .image-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-dialog .modal-body .form-group label {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 0;
  color: #535353;
}
.modal-dialog .modal-body .form-group .form-control {
  color: #535353;
  font-size: 1rem !important;
}
.modal-dialog .modal-body .form-group .form-control:focus {
  border: 1px solid #d3fbe8;
}

.profile-breadcrumb {
  padding: 1rem 0;
}
.profile-breadcrumb h4 {
  color: #535353;
  margin-bottom: 0.5rem;
}
.profile-breadcrumb p {
  color: #b1b1b1;
  font-size: 1rem;
  margin-bottom: 0;
}
.profile-breadcrumb p a {
  font-size: 1rem;
  color: #0d8f52;
}
.profile-card {
  background-color: #fff;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #e4e4e4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}
.profile-card-left {
  display: flex;
}
@media (max-width: 991px) {
  .profile-card-left {
    flex-flow: column;
  }
}
.profile-card-left .image {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.profile-card-left .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-card-left .details ul {
  margin-bottom: 0;
}
.profile-card-left .details ul li {
  margin-bottom: 0.5rem;
}
.profile-card-left .details ul li:last-child {
  margin: 0;
}
.profile-card-left .details ul li .name {
  margin: 0;
  font-size: 1.3rem;
  color: #0d8f52;
  display: flex;
  flex-flow: column;
}
.profile-card-left .details ul li .name small {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: #b1b1b1;
}
.profile-card-left .details ul li p {
  font-size: 1rem;
  color: #535353;
  margin: 0;
}
.profile-card-left .details ul li p span {
  color: #b1b1b1;
}
.profile-card-right {
  border-left: 0.2rem dashed #b1b1b1;
  padding-left: 2.5rem;
}
@media (max-width: 991px) {
  .profile-card-right {
    border-left: none;
    padding-left: 0;
    padding-top: 0.5rem;
  }
}
.profile-card-right ul {
  margin-bottom: 0;
}
.profile-card-right ul li {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #b1b1b1;
  display: flex;
}
.profile-card-right ul li:last-child {
  margin-bottom: 0;
}
.profile-card-right ul li .title {
  width: 25%;
}
@media (max-width: 991px) {
  .profile-card-right ul li .title {
    width: auto;
  }
}
.profile-card-right ul li .title b {
  color: #535353;
  padding-right: 2rem;
}
@media (max-width: 991px) {
  .profile-card-right ul li .title b {
    padding-right: 0;
  }
}
.profile-card-right ul li .des {
  width: 75%;
}
.profile-card-right ul li .des a {
  text-align: left;
  font-size: 1rem;
  color: #b1b1b1;
}
.profile-card .profile-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-card .profile-edit button {
  background-color: transparent;
  border: none;
  color: #b1b1b1;
  font-size: 0.8rem;
}
.profile-card .profile-edit button i {
  color: #b1b1b1;
}
.profile .nav-tabs {
  border: 1px solid #e4e4e4;
  border-radius: 0.3rem;
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}
.profile .nav-tabs .nav-link {
  border: none;
  color: #535353;
  font-size: 1rem;
  border-radius: 0;
  font-family: "Product Sans";
  font-weight: 600;
  transition: 0.3s;
}
.profile .nav-tabs .nav-link span {
  color: #ff6666;
  font-weight: 400;
}
.profile .nav-tabs .active {
  border-bottom: 0.2rem solid #0d8f52;
  color: #0d8f52;
}
.profile .nav-tabs .nav-item {
  border: none !important;
}
.profile .tab-content {
  margin: 1rem 0;
}
.profile .tab-content .tab-card {
  background-color: #fff;
  border-radius: 0.3rem;
  min-height: 15rem;
  max-height: inherit;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.profile .tab-content .tab-card-header {
  margin-bottom: 0;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #0d8f52;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile .tab-content .tab-card-header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #535353;
  margin: 0;
}
.profile .tab-content .tab-card-header button {
  background-color: transparent;
  color: #b1b1b1;
  font-size: 1rem;
  height: auto;
  border: none;
  display: flex;
}
.profile .tab-content .tab-card ul {
  margin-bottom: 0;
  padding: 1rem 0;
}
.profile .tab-content .tab-card ul li {
  display: flex;
  font-size: 1rem;
  color: #b1b1b1;
  margin-bottom: 0.6rem;
}
@media (max-width: 575px) {
  .profile .tab-content .tab-card ul li {
    align-items: flex-end;
  }
}
.profile .tab-content .tab-card ul li:last-child {
  margin-bottom: 0;
}
.profile .tab-content .tab-card ul li .title {
  width: 50%;
}
.profile .tab-content .tab-card ul li .title b {
  color: #535353;
  font-weight: 500;
}
.profile .tab-content .tab-card ul li .des {
  width: 50%;
}
.profile .tab-content .tab-card ul .semi-title {
  margin-top: -0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #0d8f52;
  margin-bottom: 0;
}
.profile .tab-content .tab-card ul .divider {
  height: 0.01rem;
  background-color: #cbcbcb;
  margin-bottom: 1rem;
}
.profile .tab-content .tab-card .table-item .head {
  padding: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .profile .tab-content .tab-card .table-item .head {
    display: flex;
    overflow-y: scroll;
  }
}
@media (max-width: 767px) {
  .profile .tab-content .tab-card .table-item .head {
    display: block;
  }
}
@media (max-width: 575px) {
  .profile .tab-content .tab-card .table-item .head {
    display: flex;
  }
}
.profile .tab-content .tab-card .table-item .head li {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .profile .tab-content .tab-card .table-item .head li {
    flex-flow: column;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .profile .tab-content .tab-card .table-item .head li {
    flex-flow: row;
  }
}
@media (max-width: 575px) {
  .profile .tab-content .tab-card .table-item .head li {
    flex-flow: column;
  }
}
.profile .tab-content .tab-card .table-item .head li:nth-child(odd) {
  background-color: #F9F9F9;
}
.profile .tab-content .tab-card .table-item .head li div {
  width: 25%;
}
@media (max-width: 575px) {
  .profile .tab-content .tab-card .table-item .head li div {
    width: max-content;
  }
}
.profile .tab-content .tab-card .table-item .head li div p {
  font-size: 1rem;
  margin-bottom: 0;
  color: #535353;
}
.profile .tab-content .tab-card .table-item .head .body-content div p {
  font-weight: 400;
  color: #b1b1b1;
}
.profile .tab-content .form-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
}
.profile .tab-content .form-card .divider {
  height: 0.01rem;
  background-color: #e4e4e4;
  margin-bottom: 1rem;
}
.profile .tab-content .form-card .title {
  color: #535353;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.profile .tab-content .form-card .form-group label {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0;
}
.profile .tab-content .form-card .form-group label small {
  font-size: 0.6rem;
  color: #b1b1b1;
}
.profile .tab-content .form-card .form-group label sup {
  color: #ff6666;
}
.profile .tab-content .form-card .form-group .form-control {
  border: 1px solid #e4e4e4;
  color: #535353;
  font-size: 1rem !important;
}
.profile .tab-content .form-card .form-group .form-control:focus {
  outline: none;
  border: 1px solid #d3fbe8;
}
.profile .tab-content .form-card .form-group .form-control::placeholder {
  color: #b1b1b1;
}
.profile .tab-content .form-card .form-group .custom-select {
  border: 1px solid #e4e4e4;
}
.profile .tab-content .form-card .form-group .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
}
.profile .tab-content .form-card .form-group .input-group-prepend span {
  background-color: #d3fbe8;
  border: 1px solid #e4e4e4;
}
.profile .tab-content .form-card .form-group .input-group .form-control {
  border-left: none;
}
.profile .tab-content .form-card .form-group option:hover {
  background-color: #0d8f52;
}
.profile .tab-content .form-card .btn-pr {
  transition: 0.3s;
}
.profile .tab-content .form-card .btn-pr:hover {
  background-color: transparent;
  color: #0d8f52;
}

/*# sourceMappingURL=style.css.map */
