* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.row {
  row-gap: 1.2rem;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.blog-form, .blog, .banner, footer {
  padding-top: 5rem;
}
@media (max-width: 991px) {
  .blog-form, .blog, .banner, footer {
    padding-top: 3.5rem;
  }
}
@media (max-width: 767px) {
  .blog-form, .blog, .banner, footer {
    padding-top: 1.5rem;
  }
}

.blog-form, .blog, .banner {
  padding-bottom: 5rem;
}
@media (max-width: 991px) {
  .blog-form, .blog, .banner {
    padding-bottom: 3.5rem;
  }
}
@media (max-width: 767px) {
  .blog-form, .blog, .banner {
    padding-bottom: 1.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
@media (max-width: 991px) {
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  a {
    font-size: 0.9rem;
  }
}

input {
  font-size: 1.2rem !important;
}
@media (max-width: 991px) {
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 767px) {
  input {
    font-size: 0.9rem !important;
  }
}

button {
  font-family: "Product Sans";
}
@media (max-width: 991px) {
  button {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  button {
    font-size: 0.9rem;
  }
}
button:focus {
  outline: none;
}

.btn-pr {
  background-color: #0d8f52;
  box-shadow: 0px 13px 15px -15px #44bd32;
  color: #fff;
  font-weight: 400;
  font-family: "Product Sans";
  font-size: 1.1rem;
  border: 1px solid rgba(13, 143, 82, 0.329);
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 1rem 4rem;
  letter-spacing: 1px;
}
@media (max-width: 575px) {
  .btn-pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn-pr img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.3rem;
}
@media (max-width: 991px) {
  .btn-pr {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-pr {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}

.secondary {
  background-color: transparent;
  color: #0d8f52;
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0d8f52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0d8f52;
}
@media (max-width: 575px) {
  .btn__pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 0.631);
}
.fixed-header nav .navbar-brand {
  color: #535353;
}
.fixed-header nav .navbar-nav li a {
  color: #535353;
}
.fixed-header nav .navbar-nav li a::before {
  background-color: #0d8f52;
}
.fixed-header nav .navbar-nav li .active::before {
  background-color: #0d8f52;
}

label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  label {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  label {
    font-size: 0.9rem;
  }
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: rgba(13, 143, 82, 0.369);
  border-color: rgba(13, 143, 82, 0.369);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0d8f52;
  border-color: #0d8f52;
  display: block;
}

.form-control {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.122);
  font-size: 1.2rem;
}
.form-control:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(13, 143, 82, 0.267);
  box-shadow: 0 1px 3px -1px rgba(13, 143, 82, 0.267);
}
.form-control::placeholder {
  color: rgba(83, 83, 83, 0.314) !important;
}
@media (max-width: 767px) {
  .form-control::placeholder {
    font-size: 0.9rem;
  }
}

.datepicker-dropdown {
  z-index: 9999999 !important;
}

.danger {
  color: #a40000 !important;
}

.del {
  background-color: #a40000 !important;
  border: 1px solid #a40000 !important;
  box-shadow: 0px 13px 15px -15px #ff7171 !important;
}
.del:hover {
  background-color: transparent !important;
  color: #a40000 !important;
}

.form-group label {
  font-size: 0.9rem;
  color: #b1b1b1;
  font-weight: 400 !important;
}
@media (max-width: 767px) {
  .form-group label {
    font-size: 0.8rem;
  }
}
.form-group .input-group-text {
  background-color: #eafdf4;
  color: #b1b1b1;
  border: 1px solid #f1f1f1;
  vertical-align: middle;
  display: inline-flex;
}
@media (max-width: 767px) {
  .form-group .input-group-text {
    font-size: 1.1rem;
  }
}
.form-group .form-control:disabled,
.form-group .form-control[readonly] {
  background-color: #fafafa !important;
}
.form-group .custom-select {
  padding: 0.5rem;
  height: 2.5rem;
  vertical-align: top;
  font-size: 0.9rem;
  border: 1px solid #f1f1f1;
  box-shadow: none;
}
@media (max-width: 575px) {
  .form-group .custom-select {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option {
  font-size: 1rem;
}
@media (max-width: 575px) {
  .form-group .custom-select option {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option:hover {
  background-color: #0d8f52;
}
.form-group .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.form-group .form-control {
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 0.9rem !important;
  border: 1px solid #f1f1f1;
}
.form-group .form-control::placeholder {
  color: #f1f1f1;
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .form-group .form-control::placeholder {
    font-size: 0.8rem;
  }
}
.form-group .form-control:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}

.modal-dialog .modal-content .form-group .btn-pr {
  padding: 0.5rem 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.more-page {
  margin-top: 1rem;
  display: table;
  margin-left: auto;
}
.more-page ul {
  margin-bottom: 0;
}
.more-page ul li a {
  color: #b1b1b1;
  transition: 0.3s;
  font-size: 1rem;
  font-family: "Product Sans";
  border: none;
  border: 1px solid #0d8f52 !important;
}
.more-page ul li a:focus {
  box-shadow: none;
  outline: none;
  background-color: #0d8f52 !important;
  color: #fff !important;
}
.more-page ul li a:hover {
  background-color: #eafdf4;
  color: #b1b1b1;
}
.more-page ul .active {
  background-color: #0d8f52 !important;
}
.more-page ul .active a {
  background-color: #0d8f52 !important;
  color: #fff !important;
  border: 1px solid #0d8f52 !important;
}

.custom-select {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve"%3E%3Cg%3E%3Cg id="arrow-drop-down"%3E%3Cpolygon points="0,63.75 127.5,191.25 255,63.75 "/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A');
}

.swiper-pagination-bullet-active {
  background-color: #0d8f52;
}

.dropdown-toggle::after {
  content: none !important;
}
.dropdown-toggle:focus {
  outline: none;
}

.note-dropdown-item {
  background-color: #e4e4e4 !important;
  border-radius: 0.2rem !important;
  display: block !important;
  color: #535353 !important;
  padding: 0 !important;
  margin: 5px 0 !important;
}
.note-dropdown-item h1 {
  font-size: 2.1rem !important;
  font-weight: 600;
}
.note-dropdown-item h2 {
  font-size: 1.9rem !important;
  font-weight: 600;
}
.note-dropdown-item h3 {
  font-size: 1.6rem !important;
  font-weight: 600;
}
.note-dropdown-item h4 {
  font-size: 1.4rem !important;
  font-weight: 600;
}
.note-dropdown-item h5 {
  font-size: 1.2rem !important;
  font-weight: 600;
}
.note-dropdown-item h6 {
  font-size: 0.9rem !important;
  font-weight: 600;
}
.note-dropdown-item p {
  font-size: 1rem !important;
  color: #535353 !important;
}
.note-editable {
  background-color: #fff !important;
}
.note-editable p {
  font-weight: 400 !important;
  color: #535353 !important;
  margin-bottom: 0 !important;
  font-size: 1rem !important;
}
.note-editable h1,
.note-editable h2,
.note-editable h3,
.note-editable h4,
.note-editable h5,
.note-editable h6 {
  color: #535353;
  font-weight: 600;
}

blockquote {
  border-width: 0.3rem;
  border-color: #0d8f52;
}

.note-editor.note-airframe.fullscreen,
.note-editor.note-frame.fullscreen {
  z-index: 99999 !important;
}

.note-modal-footer {
  height: 4rem;
}

.note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-editable {
  padding: 10px 25px;
}

@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-family: "Poppins";
  font-weight: 600;
}
@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-family: "Poppins";
  font-weight: 500;
}
@font-face {
  src: url("../../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-family: "Product Sans";
  font-weight: 600;
}
@font-face {
  src: url("../../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-family: "Product Sans";
  font-weight: 400;
}
header {
  background-color: rgba(13, 143, 82, 0.29);
  height: 120px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header {
    height: auto;
  }
}
header .material-icons {
  color: #535353;
}
header nav {
  padding: 0;
}
header nav .navbar-brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #535353;
}
header nav .navbar-nav li {
  padding: 0 1.5rem;
  position: relative;
}
@media (max-width: 1200px) {
  header nav .navbar-nav li {
    padding: 0 1rem;
  }
}
@media (max-width: 991px) {
  header nav .navbar-nav li {
    padding: 0 0.5rem;
  }
}
header nav .navbar-nav li:last-child {
  padding-right: 0;
}
header nav .navbar-nav li .active::before {
  position: absolute;
  content: "";
  background-color: #0d8f52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: 0%;
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
header nav .navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Product Sans";
  font-weight: 400;
  color: #535353;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}
header nav .navbar-nav li a::before {
  position: absolute;
  content: "";
  background-color: #0d8f52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: -50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
header nav .navbar-nav li a:hover::before {
  visibility: visible;
  opacity: 1;
  left: 0;
}
@media (max-width: 991px) {
  header nav .navbar-nav li a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  header nav .navbar-nav li a {
    display: inline-block;
  }
}
header nav .navbar-nav li .signup {
  margin-left: 2.5rem;
}
@media (max-width: 991px) {
  header nav .navbar-nav li .signup {
    margin-left: 1rem;
  }
}
@media (max-width: 767px) {
  header nav .navbar-nav li .signup {
    margin-left: 0;
  }
}

.fixed-header {
  height: auto;
}

aside {
  background: #F9F9F9;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  float: none !important;
}
aside nav a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px;
  color: #535353;
  font-weight: 400;
  transition: 0.3s;
}
@media (max-width: 991px) {
  aside nav a {
    padding: 5px;
    font-size: 1rem;
  }
}
aside nav a span {
  margin-left: 0.5rem;
}
@media (max-width: 991px) {
  aside nav a span {
    margin-left: 0.3rem;
  }
}
aside nav a img {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
}
@media (max-width: 991px) {
  aside nav a img {
    width: 1rem;
    height: 1rem;
  }
}
aside nav a:hover {
  background: #eee;
  color: #535353;
}
aside nav .active {
  color: #0d8f52;
  background-color: #eee;
}
aside nav .active:hover {
  color: #0d8f52;
}
aside button {
  border: none;
  background: none;
  position: absolute;
  right: -150px;
  top: 7px;
  font-size: 30px;
  transform: rotate(90deg);
  display: inline-block;
  cursor: pointer;
}

footer {
  background-color: #f9f9f9;
}
footer .footer-header {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  footer .footer-header {
    margin-bottom: 0.5rem;
  }
}
footer .footer-header h2 {
  font-weight: 400;
  color: #535353;
  font-family: "Product Sans";
}
footer .footer-header h4 {
  font-weight: 400;
  color: #535353;
  font-family: "Product Sans";
}
@media (max-width: 767px) {
  footer .footer-content {
    margin-bottom: 1.5rem;
  }
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content ul li {
  padding: 0.3rem 0;
}
footer .footer-content ul li a {
  color: #535353;
  font-size: 1.1rem;
  font-family: "Product Sans";
}
@media (max-width: 767px) {
  footer .footer-content ul li a {
    font-size: 1rem;
  }
}
footer .footer-content ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul {
  list-style: none;
  display: flex;
}
footer .footer-social ul li {
  margin-right: 1rem;
}
footer .footer-social ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  object-position: bottom;
}
@media (max-width: 767px) {
  footer .footer-social ul li a img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
footer .copyright {
  padding-top: 2rem;
}
footer .copyright p {
  color: #535353;
  font-weight: 400;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  footer .copyright p {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  footer .copyright p {
    font-size: 0.9rem;
  }
}

.banner {
  background-color: #F9F9F9;
}
.banner-content {
  text-align: center;
}
@media (max-width: 991px) {
  .banner-content {
    padding: 2rem 0;
  }
}
.banner-content .title {
  font-size: 2.2rem;
  color: #535353;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
@media (max-width: 991px) {
  .banner-content .title {
    font-size: 1.9rem;
  }
}
@media (max-width: 767px) {
  .banner-content .title {
    font-size: 1.7rem;
  }
}
@media (max-width: 767px) {
  .banner-content p {
    padding: 0 3rem;
  }
}
.banner-content .publish-date {
  color: #535353;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.banner-content .author {
  color: #0d8f52;
}

.blog {
  position: relative;
}
.blog-post {
  height: 100%;
}
.blog-post-img {
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
@media (max-width: 991px) {
  .blog-post-img {
    margin-bottom: 1rem;
  }
}
.blog-post-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.blog-post-img::before {
  position: absolute;
  content: "";
  background-color: #000;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.blog-post-content .single-post {
  padding-top: 2.5rem;
}
@media (max-width: 767px) {
  .blog-post-content .single-post {
    padding-top: 1.5rem;
  }
}
.blog-post-content .single-post .title {
  color: #535353;
}
.blog-post-content .single-post .post {
  margin: 0;
  font-weight: 400;
  color: #b1b1b1;
}

.grey {
  background-color: #F9F9F9;
}
.grey .single-post:first-child {
  padding-top: 0;
}

.blog-form-head {
  margin-bottom: 2rem;
}
.blog-form-head h2 {
  color: #535353;
  font-weight: 500;
}
.blog-form-head p {
  color: #b1b1b1;
}
.blog-form-box .form-group .form-control {
  background-color: #F9F9F9;
  border: 1px solid transparent;
  border-radius: 0;
}
.blog-form-box .form-group .form-control::placeholder {
  color: #b1b1b1;
}
.blog-form-box .form-group .form-control:focus {
  background-color: #fff;
}
.blog-form-box .form-group .btn-pr {
  border-radius: 2rem;
}
.blog-form-box .custom-control {
  margin: 1.5rem 0;
}
.blog-form-box .custom-control .custom-control-label {
  left: 25px !important;
  color: #b1b1b1;
}

/*# sourceMappingURL=style.css.map */
