* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

.sign {
  padding-top: 5rem;
}
@media (max-width: 991px) {
  .sign {
    padding-top: 3.5rem;
  }
}
@media (max-width: 767px) {
  .sign {
    padding-top: 1.5rem;
  }
}

.sign {
  padding-bottom: 5rem;
}
@media (max-width: 991px) {
  .sign {
    padding-bottom: 3.5rem;
  }
}
@media (max-width: 767px) {
  .sign {
    padding-bottom: 1.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
@media (max-width: 991px) {
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  a {
    font-size: 0.9rem;
  }
}

input {
  font-size: 1.2rem !important;
}
@media (max-width: 991px) {
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 767px) {
  input {
    font-size: 0.9rem !important;
  }
}

button {
  font-family: "Product Sans";
}
@media (max-width: 991px) {
  button {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  button {
    font-size: 0.9rem;
  }
}
button:focus {
  outline: none;
}

.btn-pr {
  background-color: #0D8F52;
  box-shadow: 0px 13px 15px -15px #44bd32;
  color: #fff;
  font-weight: 400;
  font-family: "Product Sans";
  font-size: 1.1rem;
  border: 1px solid #0d8f5254;
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 1rem 4rem;
  letter-spacing: 1px;
}
@media (max-width: 575px) {
  .btn-pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn-pr img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.3rem;
}
@media (max-width: 991px) {
  .btn-pr {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-pr {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}

.secondary {
  background-color: transparent;
  color: #0D8F52;
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0D8F52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0D8F52;
}
@media (max-width: 575px) {
  .btn__pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px #000000a1;
}
.fixed-header nav .navbar-brand {
  color: #535353;
}
.fixed-header nav .navbar-nav li a {
  color: #535353;
}
.fixed-header nav .navbar-nav li a::before {
  background-color: #0D8F52;
}
.fixed-header nav .navbar-nav li .active::before {
  background-color: #0D8F52;
}

label {
  font-size: 1.2rem;
}
@media (max-width: 991px) {
  label {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  label {
    font-size: 0.9rem;
  }
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #0d8f525e;
  border-color: #0d8f525e;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0D8F52;
  border-color: #0D8F52;
}

.datepicker-dropdown {
  z-index: 9999 !important;
}

.danger {
  color: #a40000;
}

.del {
  background-color: #a40000 !important;
  border: 1px solid #a40000 !important;
  box-shadow: 0px 13px 15px -15px #ff7171 !important;
}
.del:hover {
  background-color: transparent !important;
  color: #a40000 !important;
}

.form-group label {
  font-size: 0.9rem;
  color: #b1b1b1;
  font-weight: 400;
}
.form-group .input-group-text {
  background-color: #eafdf4;
  color: #b1b1b1;
  border: 1px solid #f1f1f1;
}
.form-group .custom-select {
  padding: 0.5rem;
  height: 2.5rem;
  vertical-align: top;
  font-size: 1rem;
  border: 1px solid #f1f1f1;
}
@media (max-width: 575px) {
  .form-group .custom-select {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option {
  font-size: 1rem;
}
@media (max-width: 575px) {
  .form-group .custom-select option {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option:hover {
  background-color: #0D8F52;
}
.form-group .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.form-group .form-control {
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1rem !important;
  border: 1px solid #f1f1f1;
}
.form-group .form-control::placeholder {
  color: #f1f1f1;
  font-size: 0.9rem;
}
.form-group .form-control:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
footer {
  padding: 2rem 0;
}
@media (max-width: 991px) {
  footer .row {
    flex-direction: column-reverse;
  }
}
footer .copyright p {
  color: #535353;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}
@media (max-width: 1200px) {
  footer .copyright p {
    font-size: 0.9rem;
  }
}
@media (max-width: 991px) {
  footer .copyright p {
    font-size: 0.9rem;
  }
}
footer .shortcut {
  margin-left: auto;
  display: table;
}
@media (max-width: 991px) {
  footer .shortcut {
    margin-bottom: 1.5rem;
    margin-left: 0;
    display: block;
  }
}
footer .shortcut ul {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}
footer .shortcut ul li {
  padding: 0 0.5rem;
}
footer .shortcut ul li a {
  font-size: 1rem;
  color: #535353;
}
@media (max-width: 1200px) {
  footer .shortcut ul li a {
    font-size: 0.9rem;
  }
}
@media (max-width: 991px) {
  footer .shortcut ul li a {
    font-size: 0.9rem;
  }
}

header {
  background-color: #fff;
}
header .material-icons {
  color: #535353;
}
header nav .navbar-brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #535353;
}
header nav .navbar-nav li {
  padding: 0 1.5rem;
  position: relative;
}
@media (max-width: 991px) {
  header nav .navbar-nav li {
    padding: 0 0.5rem;
  }
}
header nav .navbar-nav li .active::before {
  position: absolute;
  content: "";
  background-color: #0D8F52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: 0%;
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
header nav .navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Product Sans";
  font-weight: 400;
  color: #535353;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}
@media (max-width: 991px) {
  header nav .navbar-nav li a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  header nav .navbar-nav li a {
    display: inline-block;
  }
}
@media (max-width: 575px) {
  header nav .navbar-nav li a {
    display: inline-block;
  }
}
header nav .navbar-nav li a::before {
  position: absolute;
  content: "";
  background-color: #0D8F52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: -50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
header nav .navbar-nav li a:hover::before {
  visibility: visible;
  opacity: 1;
  left: 0;
}
header nav .navbar-nav li .signup {
  margin-left: 2.5rem;
}
@media (max-width: 767px) {
  header nav .navbar-nav li .signup {
    margin: 0;
  }
}
@media (max-width: 575px) {
  header nav .navbar-nav li .signup {
    margin: 0;
  }
}

.sign-img {
  position: relative;
  height: 450px;
}
@media (max-width: 991px) {
  .sign-img {
    display: none;
  }
}
.sign-img::before {
  position: absolute;
  content: "";
  background-image: url("../img/sign-bg.png");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  z-index: 111;
  left: -30px;
}
.sign-content h2 {
  color: #535353;
  font-weight: 400;
}
.sign-content p {
  color: #b1b1b1;
  font-weight: 400;
}
.sign-form {
  border: 1px solid #53535327;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
}
@media (max-width: 767px) {
  .sign-form {
    padding: 1rem 1.5rem;
  }
}
.sign-form-head h2 {
  font-weight: 500;
  color: #535353;
}
.sign-form-head p {
  color: #b1b1b1;
  font-weight: 400;
}
.sign-form-input {
  position: relative;
}
.sign-form-input label {
  color: #535353;
}
.sign-form-input .form-control {
  padding: 1.5rem 1rem;
}
.sign-form-input .form-control:focus {
  border: 1px solid #0d8f5271;
  box-shadow: 0 4px 10px -7px #0d8f5271;
}
.sign-form-input .form-control::placeholder {
  color: #b1b1b1a6;
}
.sign-form-input .input-img {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.sign-form-input .input-img img {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  top: 55%;
  right: 1rem;
}
@media (max-width: 575px) {
  .sign-form-input .input-img img {
    width: 1rem;
    height: 1rem;
    top: 60%;
  }
}
.sign-form-bottom p {
  color: #b1b1b1;
  font-weight: 500;
}
.sign-form-bottom p a {
  color: #535353;
  text-decoration: underline;
  font-weight: 500;
}
.sign-form .sign-form-btn {
  padding: 1rem 2rem 0 2rem;
}
@media (max-width: 575px) {
  .sign-form .sign-form-btn {
    padding: 1rem 1.5rem 0 1.5rem;
  }
}
.sign-form .sign-form-btn .btn-pr {
  width: 100%;
  margin-bottom: 1.5rem;
}
.sign-form .sign-form-btn p {
  color: #b1b1b1;
  margin: 0;
}
.sign-form .sign-form-btn p a {
  color: #535353;
}

/*# sourceMappingURL=style.css.map */
