* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(../iconfont/MaterialIcons-Regular.woff) format("woff"), url(../iconfont/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  color: #535353;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  color: #535353;
}

p {
  font-size: 1.1rem;
  color: #b1b1b1;
  font-weight: 500;
  font-family: "Poppins";
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0d8f52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0d8f52;
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px #000000a1;
}

header {
  background-color: #f9f9f9;
}
header .material-icons {
  color: #535353;
}
header nav .navbar-brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #535353;
}
header nav .navbar-nav li {
  padding: 0 1.5rem;
  position: relative;
}
header nav .navbar-nav li .active::before {
  position: absolute;
  content: "";
  background-color: #5353537d;
  height: 0.1rem;
  width: 69%;
  border-radius: 0.5rem;
  left: 0%;
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
header nav .navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Product Sans";
  font-weight: 400;
  color: #535353;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}
header nav .navbar-nav li a::before {
  position: absolute;
  content: "";
  background-color: #5353537d;
  height: 0.1rem;
  width: 69%;
  border-radius: 0.5rem;
  left: -50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
header nav .navbar-nav li a:hover::before {
  visibility: visible;
  opacity: 1;
  left: 0;
}
header nav .navbar-nav li .signup {
  margin-left: 2.5rem;
}

#home__header__area--top {
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding-bottom: 6rem;
}
#home__header__area--top .home__content {
  color: #535353;
  z-index: 111;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

#home__header__area--site__area {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
}
#home__header__area--site__area h2 {
  font-size: 1.6rem;
  font-weight: 400;
}
#home__header__area--site__area h4 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 2rem;
}
#home__header__area--site__area ul {
  margin-top: 2rem;
}
#home__header__area--site__area ul li {
  list-style: none;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #0d8f52;
}
#home__header__area--site__area ul li p {
  color: #0d8f52;
  font-size: 1.2rem;
  font-weight: 500;
}

footer {
  padding-top: 5rem;
  background-color: #f9f9f9;
  padding-bottom: 2.2rem;
}
footer .footer-header {
  margin-bottom: 2rem;
}
footer .footer-header h2 {
  font-weight: 600;
  color: #150e26;
  margin-bottom: -1.5rem !important;
  font-family: "products", sans-serif;
}
footer .footer-header h4 {
  font-size: 1.4rem !important;
  font-weight: 500;
  color: #150e26;
  font-family: "products", sans-serif;
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content ul li {
  padding: 0.3rem 0;
}
footer .footer-content ul li a {
  color: #150e26;
  font-size: 1.1rem;
  font-family: "products", sans-serif;
}
footer .footer-content ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul {
  list-style: none;
  display: flex;
}
footer .footer-social ul li {
  margin-right: 1rem;
}
footer .footer-social ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  object-position: bottom;
}
footer .copyright {
  padding-top: 2rem;
}
footer .copyright p {
  color: #150e26;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .navbar-nav li {
    padding: 0 1rem !important;
  }
  .navbar-nav li a {
    font-size: 1rem !important;
  }

  #home__header__area--top .home__content {
    padding-top: 7rem;
  }
  #home__header__area--top .home__content h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .navbar-nav li {
    padding: 0 0.3rem !important;
  }

  .navbar-nav li .signup {
    margin-left: 0rem !important;
  }

  .navbar-nav li a::before {
    width: 16% !important;
  }

  .navbar-nav li .active::before {
    width: 10% !important;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  #collapsibleNavId {
    margin-top: 1rem;
  }

  .navbar {
    padding: 0.5rem 0;
  }

  #home__header__area--top .home__content {
    padding-top: 3rem;
  }

  .footer-social ul li a img {
    width: 1.3rem;
    height: 1.3rem;
  }
}
@media screen and (max-width: 575px) {
  #home__header__area--top {
    padding-bottom: 3rem;
  }
  #home__header__area--top .home__content h2 {
    font-size: 1.6rem;
  }

  #home__header__area--site__area {
    padding: 2rem 0;
  }
  #home__header__area--site__area .home__content h2 {
    font-size: 1.4rem;
  }
  #home__header__area--site__area .home__content ul li {
    font-size: 1.1rem;
  }
  #home__header__area--site__area .home__content ul li p {
    font-size: 1.1rem;
  }
  #home__header__area--site__area .home__content h4 {
    padding-top: 1rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 475px) {
  .navbar-nav li .active::before {
    width: 12% !important;
  }

  #home__header__area--top .home__content h2 {
    font-size: 1.5rem;
  }
  #home__header__area--top .home__content h4 {
    width: 93.3%;
  }
  #home__header__area--top .home__content .btn__pr {
    padding: 0.6rem 2.8rem;
  }

  footer .footer-header h2 {
    font-size: 1.6rem;
  }
  footer .footer-header h4 {
    font-size: 1.3rem !important;
  }
  footer .footer-content ul li a {
    font-size: 1rem;
  }
  footer .footer-social ul li a img {
    width: 1.3rem;
    height: 1.4rem;
  }
  footer .copyright p {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 375px) {
  #home__header__area--top .home__content h2 {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=sitemap.css.map */
