* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

//  Variables
@font-face {
  font-family: 'Poppins';
  src: url('../../../dist/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../dist/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../dist/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(../iconfont/MaterialIcons-Regular.woff2) format("woff2"),
    url(../iconfont/MaterialIcons-Regular.woff) format("woff"),
    url(../iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

$color__white: #fff;
$color__purple: #652783;
$text__color: #535353;
$txt__color: #b1b1b1;
$pr__color: #0d8f52;
$secondary__color: #f9f9f9;

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

a {
  font-size: 1.2rem;

  &:hover {
    text-decoration: none;
  }
}

h2 {
  font-size: 2rem;
  color: $text__color;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  color: $text__color;
}

p {
  font-size: 1.1rem;
  color: $txt__color;
  font-weight: 500;
  font-family: "Poppins";
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: $pr__color;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: $color__white;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px $pr__color;

  &:focus {
    outline: none;
  }
}

// mainStyles

//  Start of nav section
.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color__white;
  box-shadow: 0 1px 6px -3px #000000a1;
}

header {
  background-color: $secondary__color;

  .material-icons {
    color: $text__color;
  }

  nav {
    .navbar-brand {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600;
      color: $text__color;
    }

    .navbar-nav {
      li {
        padding: 0 1.5rem;
        position: relative;

        .active {
          &::before {
            position: absolute;
            content: "";
            background-color: #5353537d;
            height: 0.1rem;
            width: 69%;
            border-radius: 0.5rem;
            left: 0%;
            bottom: 0;
            visibility: visible;
            opacity: 1;
          }
        }

        a {
          text-transform: uppercase;
          font-size: 1.1rem;
          font-family: "Product Sans";
          font-weight: 400;
          color: $text__color;
          position: relative;
          overflow: hidden;
          padding: 0 !important;

          &::before {
            position: absolute;
            content: "";
            background-color: #5353537d;
            height: 0.1rem;
            width: 69%;
            border-radius: 0.5rem;
            left: -50%;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
          }

          &:hover {
            &::before {
              visibility: visible;
              opacity: 1;
              left: 0;
            }
          }
        }

        .signup {
          margin-left: 2.5rem;
        }
      }
    }
  }
}

// End of nav section

// home header area top starts
#home__header__area--top {
  position: relative;
  background-color: $secondary__color;
  width: 100%;
  height: 100%;
  padding-bottom: 6rem;

  .home__content {
    color: $text__color;
    z-index: 111;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
}

// home header area top ends

// home header site area starts
#home__header__area--site__area {
  position: relative;
  background-color: $color__white;
  width: 100%;
  height: 100%;
  padding: 4rem 0;

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 2rem;
  }

  ul {
    margin-top: 2rem;

    li {
      list-style: none;
      padding: 0.5rem 0;
      font-size: 1.2rem;
      font-weight: 500;
      color: $pr__color;

      p {
        color: $pr__color;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}

// home header site area ends

// footer area starts
footer {
  padding-top: 5rem;
  background-color: #f9f9f9;
  padding-bottom: 2.2rem;

  .footer-header {
    margin-bottom: 2rem;

    h2 {
      font-weight: 600;
      color: #150e26;
      margin-bottom: -1.5rem !important;
      font-family: "products", sans-serif;
    }

    h4 {
      font-size: 1.4rem !important;
      font-weight: 500;
      color: #150e26;
      font-family: "products", sans-serif;
    }
  }

  .footer-content {
    ul {
      list-style: none;

      li {
        padding: 0.3rem 0;

        a {
          color: #150e26;
          font-size: 1.1rem;
          font-family: "products", sans-serif;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-social {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 1rem;

        a {
          &:hover {
            text-decoration: none;
          }

          img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            object-position: bottom;
          }
        }
      }
    }
  }

  .copyright {
    padding-top: 2rem;

    p {
      color: #150e26;
      font-weight: 400;
    }
  }
}

// footer area ends

// Responsiveness
@media screen and (max-width: 991px) {
  .navbar-nav {
    li {
      padding: 0 1rem !important;

      a {
        font-size: 1rem !important;
      }
    }
  }

  #home__header__area--top {
    .home__content {
      padding-top: 7rem;

      h2 {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav li {
    padding: 0 0.3rem !important;
  }

  .navbar-nav li .signup {
    margin-left: 0rem !important;
  }

  .navbar-nav li a {
    &::before {
      width: 16% !important;
    }
  }

  .navbar-nav li .active::before {
    width: 10% !important;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  #collapsibleNavId {
    margin-top: 1rem;
  }

  .navbar {
    padding: 0.5rem 0;
  }

  #home__header__area--top {
    .home__content {
      padding-top: 3rem;
    }
  }

  .footer-social {
    ul {
      li {
        a {
          img {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  #home__header__area--top {
    padding-bottom: 3rem;

    .home__content {
      h2 {
        font-size: 1.6rem;
      }
    }
  }

  #home__header__area--site__area {
    padding: 2rem 0;

    .home__content {
      h2 {
        font-size: 1.4rem;
      }

      ul {
        li {
          font-size: 1.1rem;

          p {
            font-size: 1.1rem;
          }
        }
      }

      h4 {
        padding-top: 1rem;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .navbar-nav li .active::before {
    width: 12% !important;
  }

  #home__header__area--top {
    .home__content {
      h2 {
        font-size: 1.5rem;
      }

      h4 {
        width: 93.3%;
      }

      .btn__pr {
        padding: 0.6rem 2.8rem;
      }
    }
  }

  footer {
    .footer-header {
      h2 {
        font-size: 1.6rem;
      }

      h4 {
        font-size: 1.3rem !important;
      }
    }

    .footer-content {
      ul li a {
        font-size: 1rem;
      }
    }

    .footer-social {
      ul li a img {
        width: 1.3rem;
        height: 1.4rem;
      }
    }

    .copyright {
      p {
        font-size: 0.9rem;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #home__header__area--top {
    .home__content {
      h2 {
        font-size: 1.4rem;
      }
    }
  }
}