* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(../iconfont/MaterialIcons-Regular.woff) format("woff"), url(../iconfont/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  color: #535353;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  color: #535353;
}

p {
  font-size: 1.1rem;
  color: #b1b1b1;
  font-weight: 500;
  font-family: "Poppins";
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0d8f52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0d8f52;
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px #000000a1;
}

header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}
header .material-icons {
  color: #535353;
}
header nav .navbar-brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #535353;
}
header nav .navbar-nav li {
  padding: 0 1.5rem;
  position: relative;
}
@media (max-width: 991px) {
  header nav .navbar-nav li {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  header nav .navbar-nav li {
    padding: 0;
  }
}
header nav .navbar-nav li .active::before {
  position: absolute;
  content: "";
  background-color: #0d8f52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: 0%;
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
header nav .navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Product Sans";
  font-weight: 400;
  color: #535353;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}
@media (max-width: 767px) {
  header nav .navbar-nav li a {
    display: inline-block;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  header nav .navbar-nav li a {
    font-size: 0.9rem;
  }
}
header nav .navbar-nav li a::before {
  position: absolute;
  content: "";
  background-color: #0d8f52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: -50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
header nav .navbar-nav li a:hover::before {
  visibility: visible;
  opacity: 1;
  left: 0;
}
header nav .navbar-nav li .signup {
  margin-left: 2.5rem;
}
@media (max-width: 767px) {
  header nav .navbar-nav li .signup {
    margin-left: 0;
  }
}

#home__header__area--top {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
  position: relative;
}
#home__header__area--top .home__content {
  padding-top: 12rem;
  color: #535353;
  z-index: 111;
}
#home__header__area--top .home__content h2 {
  margin-bottom: 1.5rem;
}
#home__header__area--top .home__content p {
  max-width: 535px;
  width: 100%;
  margin-bottom: 1.5rem;
}
#home__header__area--top .home__content .btn__pr {
  margin-top: 1.2rem;
}

#home__header__area--brand {
  background-image: url("/assets/img/bg__back.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
#home__header__area--brand__brand__area {
  position: relative;
}
#home__header__area--brand__brand__area .area img {
  max-width: 180px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home__header__area--track {
  background-image: url("/assets/img/pink__bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5rem 0;
  margin-top: 3rem;
}
#home__header__area--track .home__content {
  padding-top: 4rem;
  z-index: 111;
}
#home__header__area--track .home__content h2 {
  margin-bottom: 3rem;
}
#home__header__area--track .home__content p {
  max-width: 400px;
  width: 100%;
  margin-bottom: 3rem;
}
#home__header__area--track .home__content .btn__pr {
  background: none;
  color: #0d8f52;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  padding: 0;
  background: none;
  box-shadow: none;
}
#home__header__area--track .home__content .btn__pr img {
  width: 18px;
  height: 14px;
  margin-left: 0.4rem;
}
#home__header__area--track .tracking {
  position: relative;
}
#home__header__area--track .tracking__icon {
  position: relative;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding: 2rem 0rem;
  margin-bottom: 3rem;
  text-align: center;
  -webkit-box-shadow: 0px 6px 15px -1px #8080801f;
  box-shadow: 0px 6px 15px -1px #8080801f;
}
#home__header__area--track .tracking__icon img {
  width: 39px;
  height: 39px;
  object-fit: cover;
}
#home__header__area--track .tracking p {
  max-width: 400px;
  width: 100%;
  margin-bottom: 1.5rem;
}

#home__header__area--payroll {
  background-image: url("/assets/img/circle__bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  padding-top: 3rem;
  margin-bottom: 4rem;
}
#home__header__area--payroll .boarding__content {
  position: relative;
  padding-top: 1.5rem;
}
#home__header__area--payroll .boarding__content .home__content {
  z-index: 111;
}
#home__header__area--payroll .boarding__content .home__content h2 {
  margin-bottom: 3rem;
}
#home__header__area--payroll .boarding__content .home__content p {
  max-width: 400px;
  width: 100%;
  margin-bottom: 3rem;
}
#home__header__area--payroll .payroll__content {
  position: relative;
  padding-top: 7rem;
}
#home__header__area--payroll .payroll__content .home__content {
  z-index: 111;
}
#home__header__area--payroll .payroll__content .home__content h2 {
  margin-bottom: 3rem;
}
#home__header__area--payroll .payroll__content .home__content p {
  max-width: 423px;
  width: 100%;
  margin-bottom: 3rem;
}
#home__header__area--payroll .payroll__icon {
  padding-top: 7rem;
}
#home__header__area--payroll .analytics__content {
  position: relative;
  padding-top: 7rem;
}
#home__header__area--payroll .analytics__content .home__content {
  z-index: 111;
}
#home__header__area--payroll .analytics__content .home__content h2 {
  margin-bottom: 3rem;
}
#home__header__area--payroll .analytics__content .home__content p {
  max-width: 423px;
  width: 100%;
  margin-bottom: 3rem;
}
#home__header__area--payroll .analytics__icon {
  padding-top: 6rem;
}
#home__header__area--payroll .promotional__video {
  padding: 4.5rem;
}
#home__header__area--payroll .promotional__video .home__content p {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  padding: 1.5rem;
}
#home__header__area--payroll .promotional__icon {
  position: relative;
  max-width: 815px;
  width: 100%;
  margin: 0 auto;
}
#home__header__area--payroll .promotional__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home__header__area--payroll .promotional__icon .icon-- {
  position: absolute;
  top: 41%;
  left: 44%;
  max-width: 75px;
  width: 100%;
}
#home__header__area--payroll .promotional__icon .icon-- img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home__header__area--client {
  position: relative;
  background-color: #eb7b1108;
  padding-bottom: 4rem;
}
#home__header__area--client .home__content {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
#home__header__area--client .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#home__header__area--blog {
  position: relative;
  background-color: #fff;
  margin-bottom: 4rem;
}
#home__header__area--blog .home__content {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
#home__header__area--blog .home__content h2 {
  padding-bottom: 1rem;
}
#home__header__area--blog .home__content p {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  padding: 1.5rem;
}
#home__header__area--blog .blog__area--mid {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0px 0px 7px #80808036;
}
#home__header__area--blog .blog__date {
  padding: 1rem;
  padding-bottom: 0;
}
#home__header__area--blog .blog__content {
  padding: 0rem 1rem;
}
#home__header__area--blog .blog__content h4 {
  font-size: 1.3rem;
}
#home__header__area--blog .blog__area {
  padding: 1.5rem 1rem;
}
#home__header__area--blog .blog__area .btn__pr {
  background: none;
  color: #0d8f52;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0;
  background: none;
  box-shadow: none;
}
#home__header__area--blog .blog__area .btn__icon img {
  width: 20px;
  height: 18px;
}

footer {
  padding-top: 5rem;
  background-color: #f9f9f9;
  padding-bottom: 2.2rem;
}
footer .footer-header {
  margin-bottom: 2rem;
}
footer .footer-header h2 {
  font-weight: 600;
  color: #150e26;
  margin-bottom: -1.5rem !important;
  font-family: "products", sans-serif;
}
footer .footer-header h4 {
  font-size: 1.4rem !important;
  font-weight: 500;
  color: #150e26;
  font-family: "products", sans-serif;
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content ul li {
  padding: 0.3rem 0;
}
footer .footer-content ul li a {
  color: #150e26;
  font-size: 1.1rem;
  font-family: "products", sans-serif;
}
footer .footer-content ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul {
  list-style: none;
  display: flex;
}
footer .footer-social ul li {
  margin-right: 1rem;
}
footer .footer-social ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  object-position: bottom;
}
footer .copyright {
  padding-top: 2rem;
}
footer .copyright p {
  color: #150e26;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .navbar-nav li {
    padding: 0 1rem !important;
  }
  .navbar-nav li a {
    font-size: 1rem !important;
  }

  #home__header__area--top .home__content {
    padding-top: 7rem;
  }
  #home__header__area--top .home__content h2 {
    font-size: 1.8rem;
  }
  #home__header__area--top .home__content p {
    font-size: 1rem;
  }
  #home__header__area--top .home__content .btn__pr {
    padding: 0.8rem 3rem;
  }

  #home__header__area--track .home__content h2 {
    font-size: 1.8rem;
  }
  #home__header__area--track .home__content p {
    font-size: 1rem;
  }
  #home__header__area--track .tracking h4 {
    font-size: 1.4rem;
  }
  #home__header__area--track .tracking .tracking__icon {
    width: 91px;
    height: 91px;
    padding: 1.5rem 0rem;
  }
  #home__header__area--track .tracking .tracking__icon img {
    width: 40px;
    height: 41px;
  }

  #home__header__area--payroll .home__content h2 {
    font-size: 1.8rem;
  }
  #home__header__area--payroll .home__content p {
    font-size: 1rem;
  }
  #home__header__area--payroll .boarding__icon {
    margin-top: 1.6rem;
  }
  #home__header__area--payroll .payroll__icon {
    padding-top: 8rem;
  }
  #home__header__area--payroll .analytics__icon {
    padding-top: 7rem;
  }

  #promotional__video .home__content h2 {
    font-size: 1.8rem;
  }
  #promotional__video .home__content p {
    font-size: 1rem;
  }

  #home__header__area--blog .home__content h2 {
    font-size: 1.8rem;
  }
  #home__header__area--blog .home__content p {
    font-size: 1rem;
  }
  #home__header__area--blog .blog__area--mid .blog__date p {
    font-size: 1rem;
  }
  #home__header__area--blog .blog__area--mid .blog__content h4 {
    font-size: 1.2rem;
  }

  .footer-content {
    margin-top: -1.5rem;
    margin-bottom: 1.8rem;
  }

  .footer-social {
    margin-top: -1rem;
  }
}
@media screen and (max-width: 767px) {
  .navbar-nav li {
    padding: 0 0.3rem !important;
  }

  .navbar-nav li .signup {
    margin-left: 0rem !important;
  }

  .navbar-nav li a::before {
    width: 16% !important;
  }

  .navbar-nav li .active::before {
    width: 10% !important;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  #collapsibleNavId {
    margin-top: 1rem;
  }

  .navbar {
    padding: 0.5rem 0;
  }

  #home__header__area--top .home__content {
    padding-top: 3rem;
  }

  #home__header__area--track {
    padding: 4rem 0;
  }
  #home__header__area--track .home__content {
    padding-top: 0;
  }
  #home__header__area--track .home__content p {
    margin-bottom: 2rem;
  }
  #home__header__area--track .home__content .btn__pr {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  #home__header__area--track .tracking h4 {
    font-size: 1.3rem;
  }
  #home__header__area--track .tracking p {
    font-size: 1rem;
  }
  #home__header__area--track .tracking .tracking__icon {
    width: 88px;
    height: 88px;
    padding: 1.5rem 0;
  }
  #home__header__area--track .tracking .tracking__icon img {
    width: 40px;
    height: 41px;
  }

  #home__header__area--payroll {
    margin-bottom: 3rem;
  }
  #home__header__area--payroll .boarding__content .home__content h2 {
    margin-bottom: 2rem;
  }
  #home__header__area--payroll .payroll__icon {
    padding-top: 2rem;
  }
  #home__header__area--payroll .payroll__content {
    padding-top: 2rem;
  }
  #home__header__area--payroll .analytics__icon {
    padding-top: 0;
  }
  #home__header__area--payroll .analytics__content {
    padding-top: 2rem;
  }
  #home__header__area--payroll .promotional__video .home__content p {
    padding: 1.5rem 0 !important;
  }
  #home__header__area--payroll .promotional__icon .icon-- {
    max-width: 64px;
    width: 100%;
    left: 45%;
  }

  #home__header__area--blog {
    margin-bottom: 3rem;
  }
  #home__header__area--blog .home__content {
    padding-bottom: 2rem;
  }
  #home__header__area--blog .home__content h2 {
    padding-bottom: 0;
  }
  #home__header__area--blog .home__content p {
    padding: 1.5rem 0 !important;
  }
  #home__header__area--blog .blog__area--mid {
    margin-bottom: 2.5rem;
  }
  #home__header__area--blog .footer-social ul li a img {
    width: 1.3rem;
    height: 1.3rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 575px) {
  #home__header__area--top .home__content {
    text-align: center;
  }
  #home__header__area--top .home__content h2 {
    font-size: 1.6rem;
  }

  #home__header__area--brand {
    margin-bottom: 3rem;
  }

  .home__header__area--brand__brand__area {
    flex-direction: column;
  }
  .home__header__area--brand__brand__area .area {
    margin-bottom: 0.5rem;
  }

  #home__header__area--track .home__content {
    text-align: center;
  }
  #home__header__area--track .home__content h2 {
    font-size: 1.6rem;
  }
  #home__header__area--track .home__content p {
    width: 100%;
    margin: 0 auto;
  }
  #home__header__area--track .home__content .btn__pr {
    margin-top: 2rem;
  }
  #home__header__area--track .tracking {
    text-align: center;
    padding-top: 1rem;
  }
  #home__header__area--track .tracking h4 {
    padding-top: 1.5rem;
  }
  #home__header__area--track .tracking p {
    width: 100%;
    margin: 0 auto;
  }
  #home__header__area--track .tracking__icon {
    margin: 0 auto;
  }

  #home__header__area--payroll {
    padding-top: 1.5rem;
  }
  #home__header__area--payroll .home__content {
    text-align: center;
  }
  #home__header__area--payroll .home__content h2 {
    font-size: 1.6rem;
  }
  #home__header__area--payroll .home__content p {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem !important;
  }
  #home__header__area--payroll .boarding__icon {
    margin: 0 2rem;
  }
  #home__header__area--payroll .payroll__icon {
    padding-top: 0rem;
    margin: 0 2rem;
  }
  #home__header__area--payroll .analytics__icon {
    margin: 0 2rem;
  }
  #home__header__area--payroll .hr__ {
    margin: 0 auto;
    width: 86%;
    margin-top: 1rem;
  }
  #home__header__area--payroll .promotional__video {
    padding: 2.5rem;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  #home__header__area--blog {
    margin-bottom: 0.7rem;
  }
  #home__header__area--blog .home__content {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  #home__header__area--blog .home__content h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 475px) {
  .navbar-nav li .active::before {
    width: 12% !important;
  }

  #home__header__area--top .home__content h2 {
    font-size: 1.5rem;
  }
  #home__header__area--top .home__content .btn__pr {
    padding: 0.6rem 2.8rem;
  }

  #home__header__area--track {
    padding: 3rem 0;
  }
  #home__header__area--track .home__content h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  #home__header__area--payroll {
    padding-top: 1.5rem;
  }
  #home__header__area--payroll .home__content h2 {
    font-size: 1.5rem;
  }
  #home__header__area--payroll .promotional__video {
    padding: 2rem 0;
  }
  #home__header__area--payroll .promotional__icon .icon-- {
    max-width: 58px;
    width: 100%;
    left: 42%;
    top: 34%;
  }

  #home__header__area--blog {
    margin-bottom: 0 1rem;
  }
  #home__header__area--blog .home__content {
    padding-top: 1rem;
  }
  #home__header__area--blog .home__content h2 {
    font-size: 1.5rem;
  }

  footer .footer-header h2 {
    font-size: 1.6rem;
  }
  footer .footer-header h4 {
    font-size: 1.3rem !important;
  }
  footer .footer-content ul li a {
    font-size: 1rem;
  }
  footer .footer-social ul li a img {
    width: 1.3rem;
    height: 1.4rem;
  }
  footer .copyright p {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=home.css.map */
