* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

.dropCV, .opportunity, .about, .career, footer {
  padding-top: 5rem;
}
@media (max-width: 991px) {
  .dropCV, .opportunity, .about, .career, footer {
    padding-top: 3.5rem;
  }
}
@media (max-width: 767px) {
  .dropCV, .opportunity, .about, .career, footer {
    padding-top: 1.5rem;
  }
}

.dropCV, .opportunity, .about, .career {
  padding-bottom: 5rem;
}
@media (max-width: 991px) {
  .dropCV, .opportunity, .about, .career {
    padding-bottom: 3.5rem;
  }
}
@media (max-width: 767px) {
  .dropCV, .opportunity, .about, .career {
    padding-bottom: 1.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
@media (max-width: 991px) {
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  a {
    font-size: 0.9rem;
  }
}

input {
  font-size: 1.2rem !important;
}
@media (max-width: 991px) {
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 767px) {
  input {
    font-size: 0.9rem !important;
  }
}

button {
  font-family: "Product Sans";
}
@media (max-width: 991px) {
  button {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  button {
    font-size: 0.9rem;
  }
}
button:focus {
  outline: none;
}

.btn-pr {
  background-color: #0D8F52;
  box-shadow: 0px 13px 15px -15px #44bd32;
  color: #fff;
  font-weight: 400;
  font-family: "Product Sans";
  font-size: 1.1rem;
  border: 1px solid #0d8f5254;
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 1rem 4rem;
  letter-spacing: 1px;
}
@media (max-width: 575px) {
  .btn-pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn-pr img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.3rem;
}
@media (max-width: 991px) {
  .btn-pr {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-pr {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}

.secondary {
  background-color: transparent;
  color: #0D8F52;
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0D8F52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0D8F52;
}
@media (max-width: 575px) {
  .btn__pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px #000000a1;
}
.fixed-header nav .navbar-brand {
  color: #535353;
}
.fixed-header nav .navbar-nav li a {
  color: #535353;
}
.fixed-header nav .navbar-nav li a::before {
  background-color: #0D8F52;
}
.fixed-header nav .navbar-nav li .active::before {
  background-color: #0D8F52;
}

label {
  font-size: 1.2rem;
}
@media (max-width: 991px) {
  label {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  label {
    font-size: 0.9rem;
  }
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #0d8f525e;
  border-color: #0d8f525e;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0D8F52;
  border-color: #0D8F52;
}

.datepicker-dropdown {
  z-index: 9999 !important;
}

.danger {
  color: #a40000;
}

.del {
  background-color: #a40000 !important;
  border: 1px solid #a40000 !important;
  box-shadow: 0px 13px 15px -15px #ff7171 !important;
}
.del:hover {
  background-color: transparent !important;
  color: #a40000 !important;
}

.form-group label {
  font-size: 0.9rem;
  color: #b1b1b1;
  font-weight: 400;
}
.form-group .input-group-text {
  background-color: #eafdf4;
  color: #b1b1b1;
  border: 1px solid #f1f1f1;
}
.form-group .custom-select {
  padding: 0.5rem;
  height: 2.5rem;
  vertical-align: top;
  font-size: 1rem;
  border: 1px solid #f1f1f1;
}
@media (max-width: 575px) {
  .form-group .custom-select {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option {
  font-size: 1rem;
}
@media (max-width: 575px) {
  .form-group .custom-select option {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option:hover {
  background-color: #0D8F52;
}
.form-group .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.form-group .form-control {
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1rem !important;
  border: 1px solid #f1f1f1;
}
.form-group .form-control::placeholder {
  color: #f1f1f1;
  font-size: 0.9rem;
}
.form-group .form-control:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
footer {
  background-color: #f9f9f9;
}
footer .footer-header {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  footer .footer-header {
    margin-bottom: 0.5rem;
  }
}
footer .footer-header h2 {
  font-weight: 400;
  color: #535353;
  font-family: "Product Sans";
}
footer .footer-header h4 {
  font-weight: 400;
  color: #535353;
  font-family: "Product Sans";
}
@media (max-width: 767px) {
  footer .footer-content {
    margin-bottom: 1.5rem;
  }
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content ul li {
  padding: 0.3rem 0;
}
footer .footer-content ul li a {
  color: #535353;
  font-size: 1.1rem;
  font-family: "Product Sans";
}
@media (max-width: 767px) {
  footer .footer-content ul li a {
    font-size: 1rem;
  }
}
footer .footer-content ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul {
  list-style: none;
  display: flex;
}
footer .footer-social ul li {
  margin-right: 1rem;
}
footer .footer-social ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  object-position: bottom;
}
@media (max-width: 767px) {
  footer .footer-social ul li a img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
footer .copyright {
  padding-top: 2rem;
}
footer .copyright p {
  color: #535353;
  font-weight: 400;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  footer .copyright p {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  footer .copyright p {
    font-size: 0.9rem;
  }
}

header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}
header .material-icons {
  color: #535353;
}
header nav .navbar-brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #535353;
}
header nav .navbar-nav li {
  padding: 0 1.5rem;
  position: relative;
}
@media (max-width: 991px) {
  header nav .navbar-nav li {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  header nav .navbar-nav li {
    padding: 0;
  }
}
header nav .navbar-nav li .active::before {
  position: absolute;
  content: "";
  background-color: #0D8F52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: 0%;
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
header nav .navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Product Sans";
  font-weight: 400;
  color: #535353;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}
@media (max-width: 767px) {
  header nav .navbar-nav li a {
    display: inline-block;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  header nav .navbar-nav li a {
    font-size: 0.9rem;
  }
}
header nav .navbar-nav li a::before {
  position: absolute;
  content: "";
  background-color: #0D8F52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: -50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
header nav .navbar-nav li a:hover::before {
  visibility: visible;
  opacity: 1;
  left: 0;
}
header nav .navbar-nav li .signup {
  margin-left: 2.5rem;
}
@media (max-width: 767px) {
  header nav .navbar-nav li .signup {
    margin-left: 0;
  }
}

.career {
  background-color: #F9F9F9;
}
.career-content .title {
  margin-bottom: 1.5rem;
  color: #535353;
}
.career-content .des {
  margin-bottom: 1.5rem;
  color: #b1b1b1;
}
.career-content .btn-pr {
  box-shadow: 0 0.5rem 2rem 0.2rem #0d8f5252;
}
@media (max-width: 575px) {
  .career-content .btn-pr {
    box-shadow: 0 0.6rem 1rem -0.3rem #0d8f5252;
  }
}
.career-content .btn-pr:hover {
  background-color: transparent;
  color: #0D8F52;
}
.career-img img {
  width: 100%;
}
@media (max-width: 767px) {
  .career-img {
    display: none;
  }
}
.career-title {
  display: table;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 54rem;
  text-align: center;
}
.career-title .title {
  font-weight: 400;
  color: #535353;
  margin-bottom: 1.5rem;
}
.career-title .des {
  color: #b1b1b1;
}

.about {
  position: relative;
}
.about::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/about-bg.png");
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.about-single {
  border-bottom: 1px solid #b1b1b142;
  height: 25rem;
  transition: 0.3s;
  margin: 2.5rem 0;
}
@media (max-width: 767px) {
  .about-single {
    height: 20rem;
  }
}
@media (max-width: 575px) {
  .about-single {
    height: auto;
    padding-bottom: 1rem;
  }
}
.about-single:hover {
  border-bottom: 1px solid #0D8F52;
}
.about-box {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  transition: 0.3s;
}
.about-box::before {
  position: absolute;
  content: "";
  background-color: #b1b1b1;
  width: 100%;
}
.about-box:hover {
  box-shadow: -1.5rem 1.5rem 2rem -0.8rem #0000001f;
}
.about-box:hover .des {
  overflow: visible;
  text-overflow: clip;
  display: block;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.about-box img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 1.5rem;
}
.about-box .title {
  font-weight: 400;
  color: #535353;
  margin-bottom: 1.5rem;
}
.about-box .des {
  font-weight: 400;
  color: #b1b1b1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  transition: 0.3s;
}

.opportunity-content {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.3rem;
  border: 0.01rem solid #b1b1b156;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .opportunity-content {
    padding-top: 0;
  }
}
.opportunity-content table {
  padding: 0 0.5rem;
  width: 100%;
}
.opportunity-content table thead {
  width: 100%;
  border-bottom: 1px solid #b1b1b156;
}
.opportunity-content table thead tr {
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
}
@media (max-width: 767px) {
  .opportunity-content table thead tr {
    height: 2.5rem;
  }
}
@media (max-width: 575px) {
  .opportunity-content table thead tr {
    padding: 0.5rem 0;
    height: auto;
  }
}
.opportunity-content table thead tr th {
  width: 100%;
  font-size: 1rem;
  color: #535353;
  font-weight: 400;
}
@media (max-width: 767px) {
  .opportunity-content table thead tr th {
    font-size: 0.9rem;
  }
}
.opportunity-content table tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  border-bottom: 1px solid #b1b1b156;
}
@media (max-width: 575px) {
  .opportunity-content table tbody tr {
    padding: 0.5rem 0;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
  }
}
.opportunity-content table tbody tr th {
  font-size: 1.1rem;
  color: #0D8F52;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 767px) {
  .opportunity-content table tbody tr th {
    font-size: 0.9rem;
  }
}
.opportunity-content table tbody tr td {
  font-size: 1.1rem;
  color: #b1b1b1;
  font-weight: 400;
}
@media (max-width: 767px) {
  .opportunity-content table tbody tr td {
    font-size: 0.9rem;
  }
}

.dropCV {
  background-image: url("../img/icons/drop-cv.png");
  background-position: center;
  background-size: cover;
}
.dropCV-content {
  display: table;
  margin: auto;
  width: 40rem;
  text-align: center;
}
@media (max-width: 767px) {
  .dropCV-content {
    width: auto;
  }
}
.dropCV-content p {
  margin-bottom: 3.5rem;
  color: #535353;
}
@media (max-width: 767px) {
  .dropCV-content p {
    margin-bottom: 2rem;
  }
}
@media (max-width: 575px) {
  .dropCV-content p {
    margin-bottom: 1rem;
  }
}
.dropCV-content .btn-pr {
  box-shadow: 0 0.5rem 2rem 0.2rem #0d8f5252;
}
@media (max-width: 575px) {
  .dropCV-content .btn-pr {
    box-shadow: 0 0.6rem 1rem -0.3rem #0d8f5252;
  }
}
.dropCV-content .btn-pr:hover {
  background-color: transparent;
  color: #0D8F52;
}

/*# sourceMappingURL=style.css.map */
