* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
@media (max-width: 991px) {
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  a {
    font-size: 0.9rem;
  }
}

input {
  font-size: 1.2rem !important;
}
@media (max-width: 991px) {
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 767px) {
  input {
    font-size: 0.9rem !important;
  }
}

button {
  font-family: "Product Sans";
}
@media (max-width: 991px) {
  button {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  button {
    font-size: 0.9rem;
  }
}
button:focus {
  outline: none;
}

.btn-pr {
  background-color: #0D8F52;
  box-shadow: 0px 13px 15px -15px #44bd32;
  color: #fff;
  font-weight: 400;
  font-family: "Product Sans";
  font-size: 1.1rem;
  border: 1px solid #0d8f5254;
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 1rem 4rem;
  letter-spacing: 1px;
}
@media (max-width: 575px) {
  .btn-pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn-pr img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.3rem;
}
@media (max-width: 991px) {
  .btn-pr {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-pr {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}

.secondary {
  background-color: transparent;
  color: #0D8F52;
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0D8F52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0D8F52;
}
@media (max-width: 575px) {
  .btn__pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px #000000a1;
}
.fixed-header nav .navbar-brand {
  color: #535353;
}
.fixed-header nav .navbar-nav li a {
  color: #535353;
}
.fixed-header nav .navbar-nav li a::before {
  background-color: #0D8F52;
}
.fixed-header nav .navbar-nav li .active::before {
  background-color: #0D8F52;
}

label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  label {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  label {
    font-size: 0.9rem;
  }
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #0d8f525e;
  border-color: #0d8f525e;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0D8F52;
  border-color: #0D8F52;
}

.datepicker-dropdown {
  z-index: 9999 !important;
}

.danger {
  color: #a40000 !important;
}

.del {
  background-color: #a40000 !important;
  border: 1px solid #a40000 !important;
  box-shadow: 0px 13px 15px -15px #ff7171 !important;
}
.del:hover {
  background-color: transparent !important;
  color: #a40000 !important;
}

.form-group label {
  font-size: 0.9rem;
  color: #b1b1b1;
  font-weight: 400 !important;
}
@media (max-width: 767px) {
  .form-group label {
    font-size: 0.8rem;
  }
}
.form-group .input-group-text {
  background-color: #eafdf4;
  color: #b1b1b1;
  border: 1px solid #f1f1f1;
  font-size: 1.3rem;
  vertical-align: middle;
  display: inline-flex;
}
@media (max-width: 767px) {
  .form-group .input-group-text {
    font-size: 1.1rem;
  }
}
.form-group .custom-select {
  padding: 0.5rem;
  height: 2.5rem;
  vertical-align: top;
  font-size: 0.9rem;
  border: 1px solid #f1f1f1;
  box-shadow: none;
}
@media (max-width: 575px) {
  .form-group .custom-select {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option {
  font-size: 1rem;
}
@media (max-width: 575px) {
  .form-group .custom-select option {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option:hover {
  background-color: #0D8F52;
}
.form-group .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.form-group .form-control {
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 0.9rem !important;
  border: 1px solid #f1f1f1;
}
.form-group .form-control::placeholder {
  color: #f1f1f1;
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .form-group .form-control::placeholder {
    font-size: 0.8rem;
  }
}
.form-group .form-control:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}

.tox-tinymce {
  border: 1px solid #f1f1f1 !important;
  border-radius: 0.3rem !important;
  font-family: "Product Sans", sans-serif !important;
}

.tox .tox-menubar + .tox-toolbar,
.tox .tox-menubar + .tox-toolbar-overlord .tox-toolbar__primary {
  border-top: 1px solid #f1f1f1 !important;
  margin-top: -1px;
}

.tox .tox-statusbar {
  border-top: 1px solid #f1f1f1 !important;
}

.tox.tox-tinymce:not(.tox-tinymce-inline) .tox-editor-header:not(:first-child) .tox-menubar {
  border-top: 1px solid #f1f1f1 !important;
}

.tox.tox-tinymce {
  height: 300px !important;
}

.modal-dialog .modal-content .form-group .btn-pr {
  padding: 0.5rem 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.more-page {
  margin-top: 1rem;
  display: table;
  margin-left: auto;
}
.more-page ul {
  margin-bottom: 0;
}
.more-page ul li a {
  color: #b1b1b1;
  transition: 0.3s;
  font-size: 1rem;
  font-family: "Product Sans";
  border: none;
  border: 1px solid #0D8F52 !important;
}
.more-page ul li a:focus {
  box-shadow: none;
  outline: none;
  background-color: #0D8F52 !important;
  color: #fff !important;
}
.more-page ul li a:hover {
  background-color: #eafdf4;
  color: #b1b1b1;
}
.more-page ul .active {
  background-color: #0D8F52 !important;
}
.more-page ul .active a {
  background-color: #0D8F52 !important;
  color: #fff !important;
  border: 1px solid #0D8F52 !important;
}

.custom-select {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve"%3E%3Cg%3E%3Cg id="arrow-drop-down"%3E%3Cpolygon points="0,63.75 127.5,191.25 255,63.75 "/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A');
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

header nav ul {
  margin-bottom: 0;
}
header nav ul li a {
  color: #535353;
  font-size: 1rem;
  transition: 0.3s;
}
header nav ul li a .navbar-badge {
  top: 5px;
  right: 5px;
}
header nav ul li a:hover {
  color: #0D8F52;
}

.dropdown-item-title {
  color: #535353;
}
.dropdown-item-title .text-sm {
  color: #535353;
}
.dropdown-item:active {
  background-color: #d3fbe8;
}

.wrapper .main-header {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper .main-header {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper .main-header {
    margin-left: 0 !important;
  }
}
.wrapper .content-wrapper {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper .content-wrapper {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper .content-wrapper {
    margin-left: 0 !important;
  }
}
.wrapper footer {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper footer {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper footer {
    margin-left: 0 !important;
  }
}

:not(.layout-fixed) .main-sidebar {
  position: fixed !important;
  width: 270px;
  height: 100vh;
}
@media (max-width: 1200px) {
  :not(.layout-fixed) .main-sidebar {
    width: 250px;
  }
}

.main-sidebar {
  margin-top: 0 !important;
  border-radius: 0;
}

aside {
  background-color: #F9F9F9;
  width: max-content;
}
aside .brand-link {
  color: #fff !important;
  padding-left: 0.8rem;
}
aside .brand-link:hover {
  color: #fff;
}
aside .brand-link h4 {
  font-size: 1.5rem;
  margin: 0;
}
aside .sidebar {
  height: 100%;
}
aside .sidebar .user-panel .info a {
  color: #b1b1b1;
  font-size: 0.9rem;
}
aside .sidebar nav .nav-sidebar li {
  width: 100%;
}
aside .sidebar nav .nav-sidebar li a {
  padding: 0.5rem;
}
aside .sidebar nav .nav-sidebar li a i {
  font-size: 0.9rem !important;
}
aside .sidebar nav .nav-sidebar li a p {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Product Sans";
}
aside .sidebar nav .nav-sidebar li .active {
  background-color: #0D8F52 !important;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0;
  font-size: 0.8rem;
  color: #b1b1b1;
}
footer p b {
  color: #535353;
  font-weight: 500;
}

.fixed-header {
  position: relative;
}

@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-family: "Poppins";
  font-weight: 600;
}
@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-family: "Poppins";
  font-weight: 500;
}
@font-face {
  src: url("../../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-family: "Product Sans";
  font-weight: 600;
}
@font-face {
  src: url("../../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-family: "Product Sans";
  font-weight: 400;
}
.main-box {
  margin-top: 1rem;
  border: 1px solid #ececec;
  border-radius: 0.3rem;
  background-color: #fff;
}
.main-box-title {
  padding: 0.5rem 1rem;
  background-color: #d3fbe8;
}
.main-box-title h4 {
  margin-bottom: 0;
  color: #535353;
  font-size: 1.2rem;
}
.main-box-content {
  padding: 0 1rem;
  margin: 1rem 0;
}
.main-box-content .single-box {
  border: 1px solid #ececec;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
.main-box-content .single-box:last-child {
  margin-bottom: 0;
}
.main-box-content .single-box .form-group {
  margin-top: 1rem;
}
.main-box-content .single-box-title {
  padding: 0.5rem 1rem;
  background-color: #ececec;
}
.main-box-content .single-box-title h4 {
  margin-bottom: 0;
  color: #0D8F52;
  font-size: 1.2rem;
  font-family: "Product Sans";
}
@media (max-width: 575px) {
  .main-box-content .single-box-title h4 {
    font-size: 1.1rem;
  }
}
.main-box-content .single-box-content {
  padding: 0.5rem 1rem;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #f1f1f1 !important;
  font-size: 0.9rem !important;
  color: #b1b1b1;
}
@media (max-width: 767px) {
  .select2-container--classic .select2-search--dropdown .select2-search__field {
    font-size: 0.8rem;
  }
}
.select2-container--classic .select2-results__option {
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .select2-container--classic .select2-results__option {
    font-size: 0.8rem;
  }
}
.select2-container--classic .select2-results__option[aria-selected=true] {
  background-color: #0b7845;
  color: #fff;
}
.select2-container--open {
  border-color: #f1f1f1 !important;
}
.select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #0D8F52;
  transition: 0.3s;
}
.select2-container .select2-results__option--highlighted[aria-selected]:hover {
  background-color: #0D8F52;
}
.select2-selection--single {
  height: 2.5rem !important;
  border: 1px solid #f1f1f1 !important;
  border-radius: 0.2rem !important;
  background-color: transparent !important;
  background-image: none !important;
}
.select2-selection--single:focus {
  outline: none !important;
  border: 1px solid #d3fbe8 !important;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.select2-selection--multiple {
  border: 1px solid #f1f1f1 !important;
  border-radius: 0.2rem !important;
  background-color: transparent !important;
  background-image: none !important;
}
.select2-selection--multiple .select2-selection__choice {
  background-color: #eafdf4 !important;
  border: 1px solid #f1f1f1 !important;
  color: #535353;
}
.select2-selection__arrow {
  margin-top: -0.2rem;
  height: 100% !important;
  background-image: none !important;
  background-color: transparent !important;
  border: none !important;
  right: 0;
}
.select2-selection__rendered {
  font-size: 0.9rem;
  color: #535353;
  height: 100%;
  line-height: 2.5rem !important;
}
@media (max-width: 767px) {
  .select2-selection__rendered {
    font-size: 0.8rem !important;
  }
}
.select2-selection__rendered .select2-search__field {
  width: 100% !important;
  font-size: 0.9rem !important;
  line-height: 2.5rem;
  margin-top: 0 !important;
}
.select2-selection__rendered .select2-search__field::placeholder {
  color: #f1f1f1 !important;
  font-size: 0.9rem;
}
.select2 .select2-selection__placeholder {
  color: #f1f1f1 !important;
  font-size: 0.9rem !important;
}
.select2-dropdown {
  border: 1px solid #f1f1f1 !important;
}

.select2-container--default .select2-dropdown .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field:focus {
  border: 1px solid #d3fbe8;
}

.select2-selection {
  overflow: hidden;
}

.select2-selection__rendered {
  white-space: normal;
  word-break: break-all;
}

.modal-content .header {
  padding: 0.8rem 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modal-content .header h4 {
  margin-bottom: 0;
  color: #0D8F52;
  font-size: 1.2rem;
}
.modal-content p {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #0D8F52;
  padding-bottom: 0.5rem;
  font-family: "Product Sans";
  font-weight: 600;
}
.modal-content a {
  font-size: 0.9rem;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 3rem;
  background-color: #0D8F52;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
  align-items: center;
  margin: 0 0 1rem 0;
}
.modal-content a i {
  font-size: 0.9rem;
  vertical-align: middle;
}
.modal-content .form-group .modal-btn {
  background-color: #0D8F52;
  border: 1px solid #0D8F52;
  width: 8rem;
  height: 3rem;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
  margin-top: 3rem;
}
@media (max-width: 575px) {
  .modal-content .form-group .modal-btn {
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}
.modal-content .form-group .modal-btn:hover {
  background-color: transparent;
  color: #0D8F52;
}
.modal-content .btn-group button {
  margin-right: 0.5rem;
}

.modal-dialog {
  max-width: 50%;
}
@media (max-width: 991px) {
  .modal-dialog {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .modal-dialog {
    max-width: 80%;
  }
}
@media (max-width: 575px) {
  .modal-dialog {
    max-width: 95%;
  }
}
.modal-dialog .modal-content {
  padding: 0 1rem;
}
@media (max-width: 991px) {
  .modal-dialog {
    margin-top: 4rem;
  }
}

.delete .modal-dialog {
  max-width: 26%;
}
@media (max-width: 1200px) {
  .delete .modal-dialog {
    max-width: 40%;
  }
}
@media (max-width: 991px) {
  .delete .modal-dialog {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .delete .modal-dialog {
    max-width: 70%;
  }
}
@media (max-width: 575px) {
  .delete .modal-dialog {
    max-width: 100%;
  }
}
.delete .modal-dialog .modal-content p {
  margin: 2rem 0;
  color: #b1b1b1;
}
.delete .modal-dialog .modal-content .form-group .modal-btn {
  margin-top: 0;
}

.table-sorting {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  margin-bottom: 1rem;
}
.table-sorting p {
  font-size: 0.9rem;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #535353;
  font-weight: 400;
}
.table-sorting .select2-container {
  width: auto !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.table-sorting .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0.5rem !important;
}
.table-sorting .custom-select {
  font-size: 0.9rem;
  margin: 0 0.5rem;
}
.table-sorting .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}

table {
  width: 100%;
}
table tr th {
  color: #0D8F52;
  font-family: "Product Sans";
  font-size: 1.1rem;
  padding: 0.5rem;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  table tr th {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  table tr th {
    display: none;
  }
}
table tr td {
  font-size: 1rem;
  padding: 0.5rem;
  color: #b1b1b1;
  position: relative;
}
@media (max-width: 1200px) {
  table tr td {
    font-size: 0.9rem;
    white-space: nowrap;
  }
}
@media (max-width: 991px) {
  table tr td {
    display: block;
    font-size: 1rem;
  }
  table tr td::before {
    content: attr(data-th) ": ";
    font-weight: 600;
    display: inline-block;
    width: 40%;
    height: 100%;
    color: #0D8F52;
    font-size: 1.1rem;
    font-family: "Product Sans";
  }
  table tr td span,
table tr td a {
    position: absolute;
    right: 0;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 575px) {
  table tr td {
    font-size: 0.9rem;
    white-space: normal;
  }
  table tr td::before {
    width: 50%;
    font-size: 1rem;
  }
}
table tr td a {
  color: #b1b1b1;
  transition: 0.3s;
}
table tr td a i {
  font-size: 1rem !important;
}
@media (max-width: 1200px) {
  table tr td a i {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 991px) {
  table tr td a i {
    font-size: 1rem !important;
  }
}
table tr td a:hover {
  color: #0D8F52;
}

.high p {
  background-color: #931a25;
  padding: 0.1rem 0.5rem;
  color: #fff;
  display: inline-block;
  border-radius: 1rem;
  font-size: 0.8rem !important;
}

.active p {
  background-color: #0D8F52;
  padding: 0.1rem 0.5rem;
  color: #fff;
  display: inline-block;
  border-radius: 1rem;
  font-size: 0.8rem !important;
}

.inactive p {
  background-color: #931a25;
  padding: 0.1rem 0.5rem;
  color: #fff;
  display: inline-block;
  border-radius: 1rem;
  font-size: 0.8rem !important;
}

.low p {
  background-color: #0D8F52;
  padding: 0.1rem 0.5rem;
  color: #fff;
  display: inline-block;
  border-radius: 1rem;
  font-size: 0.8rem !important;
}

.medium p {
  background-color: #f0a500;
  padding: 0.1rem 0.5rem;
  color: #fff;
  display: inline-block;
  border-radius: 1rem;
  font-size: 0.8rem !important;
}

.main-box-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
.main-box-title-left h4 {
  font-size: 1.2rem;
}
.main-box-title-right ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.main-box-title-right ul li {
  margin-right: 0.5rem;
  margin-bottom: 0;
}
.main-box-title-right ul li:last-child {
  margin-right: 0;
}
.main-box-title-right ul li a {
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: #fff;
  display: block;
  box-shadow: 0 0 0.3rem -0.2rem #535353;
}
.main-box-title-right ul li a.active i {
  color: #0D8F52;
}
.main-box-title-right ul li a i {
  color: #535353;
  font-size: 1rem;
  transition: 0.3s;
}
.main-box-title-right ul li a:hover i {
  color: #0D8F52;
}
.main-box-title-right ul li button {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}
.main-box-title-right ul li button i {
  font-size: 1rem;
}
.main-box-content .single-box-content {
  overflow: auto;
}
.main-box-content .filter-btn {
  padding: 0;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
}
.main-box-content table th.action {
  width: 3rem;
}
@media (max-width: 991px) {
  .main-box-content table th.action {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .main-box-content table td {
    display: flex;
    justify-content: space-between;
  }
}
.main-box-content table td p {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 767px) {
  .main-box-content table td p {
    font-size: 0.9rem;
  }
}
@media (max-width: 575px) {
  .main-box-content table td p {
    font-size: 0.8rem;
  }
}
.main-box-content table td a {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 991px) {
  .main-box-content table td a {
    display: inline-block;
    position: relative;
    right: 0;
    width: auto;
    top: auto;
    transform: none;
  }
}
.main-box-content table td a span {
  display: inline-block;
  position: relative;
  right: 0;
  width: auto;
  top: auto;
  transform: none;
}
@media (max-width: 767px) {
  .main-box-content table td a {
    font-size: 0.9rem;
  }
}
@media (max-width: 575px) {
  .main-box-content table td a {
    font-size: 0.8rem;
  }
}
.main-box-content table td ul {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: nowrap;
}
@media (max-width: 575px) {
  .main-box-content table td ul {
    flex-wrap: wrap;
  }
}
.main-box-content table td ul li a {
  font-size: 1rem;
  display: block;
  position: relative;
}
.main-box-content table td ul li a img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
.main-box-content table td ul li a span {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background-color: #0D8F52;
  display: block;
  color: #fff;
  border-radius: 50%;
  font-size: 0.9rem;
}
.main-box-content table td.action {
  text-align: right;
}
@media (max-width: 991px) {
  .main-box-content table td.action {
    text-align: left;
  }
}
.main-box-content table td.action .dropdown-toggle::after {
  content: none;
}
.main-box-content table td.action .dropdown-item {
  align-items: center;
  font-size: 1rem;
  color: #b1b1b1;
}
@media (max-width: 767px) {
  .main-box-content table td.action .dropdown-item {
    font-size: 0.9rem;
  }
}
@media (max-width: 575px) {
  .main-box-content table td.action .dropdown-item {
    font-size: 0.8rem;
  }
}
.main-box-content table td.action .dropdown-item i {
  font-size: 1rem;
  margin-right: 0.5rem;
}
@media (max-width: 767px) {
  .main-box-content table td.action .dropdown-item i {
    font-size: 0.9rem;
  }
}
@media (max-width: 575px) {
  .main-box-content table td.action .dropdown-item i {
    font-size: 0.8rem;
  }
}
@media (max-width: 991px) {
  .main-box-content table td.action .dropdown-item span {
    position: relative;
  }
}

.modal-dialog .modal-img a {
  background-color: transparent;
  margin: 0;
  display: inline-block;
  padding: 0;
}
.modal-dialog .modal-img a img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.modal-dialog .modal-img ul {
  list-style: none;
  display: flex;
  margin: 0;
}
.modal-dialog .modal-img ul li {
  margin-right: 0.5rem;
}
.modal-dialog .modal-img ul li:last-child {
  margin: 0;
}
.modal-dialog .modal-img ul li:last-child a {
  background-color: #0D8F52;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.modal-dialog .upload-box {
  position: relative;
  width: 100%;
  background-color: #ececec;
  border: 1px solid #ececec;
  border-radius: 0.2rem;
  height: 2.5rem;
  transition: 0.3s;
}
.modal-dialog .upload-box:active {
  background-color: #0D8F52;
}
.modal-dialog .upload-box:active span {
  transition: 0.3s;
  color: #fff;
}
.modal-dialog .upload-box span {
  color: #0D8F52;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.modal-dialog .upload-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
