* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.row {
  row-gap: 1.2rem;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
@media (max-width: 991px) {
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  a {
    font-size: 0.9rem;
  }
}

input {
  font-size: 1.2rem !important;
}
@media (max-width: 991px) {
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 767px) {
  input {
    font-size: 0.9rem !important;
  }
}

button {
  font-family: "Product Sans";
}
@media (max-width: 991px) {
  button {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  button {
    font-size: 0.9rem;
  }
}
button:focus {
  outline: none;
}

.btn-pr {
  background-color: #0d8f52;
  box-shadow: 0px 13px 15px -15px #44bd32;
  color: #fff;
  font-weight: 400;
  font-family: "Product Sans";
  font-size: 1.1rem;
  border: 1px solid rgba(13, 143, 82, 0.329);
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 1rem 4rem;
  letter-spacing: 1px;
}
@media (max-width: 575px) {
  .btn-pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn-pr img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.3rem;
}
@media (max-width: 991px) {
  .btn-pr {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-pr {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}

.secondary {
  background-color: transparent;
  color: #0d8f52;
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0d8f52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0d8f52;
}
@media (max-width: 575px) {
  .btn__pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 0.631);
}
.fixed-header nav .navbar-brand {
  color: #535353;
}
.fixed-header nav .navbar-nav li a {
  color: #535353;
}
.fixed-header nav .navbar-nav li a::before {
  background-color: #0d8f52;
}
.fixed-header nav .navbar-nav li .active::before {
  background-color: #0d8f52;
}

label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  label {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  label {
    font-size: 0.9rem;
  }
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: rgba(13, 143, 82, 0.369);
  border-color: rgba(13, 143, 82, 0.369);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0d8f52;
  border-color: #0d8f52;
  display: block;
}

.datepicker-dropdown {
  z-index: 9999999 !important;
}

.danger {
  color: #a40000 !important;
}

.del {
  background-color: #a40000 !important;
  border: 1px solid #a40000 !important;
  box-shadow: 0px 13px 15px -15px #ff7171 !important;
}
.del:hover {
  background-color: transparent !important;
  color: #a40000 !important;
}

.form-group label {
  font-size: 0.9rem;
  color: #b1b1b1;
  font-weight: 400 !important;
}
@media (max-width: 767px) {
  .form-group label {
    font-size: 0.8rem;
  }
}
.form-group .input-group-text {
  background-color: #eafdf4;
  color: #b1b1b1;
  border: 1px solid #f1f1f1;
  vertical-align: middle;
  display: inline-flex;
}
@media (max-width: 767px) {
  .form-group .input-group-text {
    font-size: 1.1rem;
  }
}
.form-group .form-control:disabled,
.form-group .form-control[readonly] {
  background-color: #fafafa !important;
}
.form-group .custom-select {
  padding: 0.5rem;
  height: 2.5rem;
  vertical-align: top;
  font-size: 0.9rem;
  border: 1px solid #f1f1f1;
  box-shadow: none;
}
@media (max-width: 575px) {
  .form-group .custom-select {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option {
  font-size: 1rem;
}
@media (max-width: 575px) {
  .form-group .custom-select option {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option:hover {
  background-color: #0d8f52;
}
.form-group .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.form-group .form-control {
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 0.9rem !important;
  border: 1px solid #f1f1f1;
}
.form-group .form-control::placeholder {
  color: #f1f1f1;
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .form-group .form-control::placeholder {
    font-size: 0.8rem;
  }
}
.form-group .form-control:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}

.modal-dialog .modal-content .form-group .btn-pr {
  padding: 0.5rem 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.more-page {
  margin-top: 1rem;
  display: table;
  margin-left: auto;
}
.more-page ul {
  margin-bottom: 0;
}
.more-page ul li a {
  color: #b1b1b1;
  transition: 0.3s;
  font-size: 1rem;
  font-family: "Product Sans";
  border: none;
  border: 1px solid #0d8f52 !important;
}
.more-page ul li a:focus {
  box-shadow: none;
  outline: none;
  background-color: #0d8f52 !important;
  color: #fff !important;
}
.more-page ul li a:hover {
  background-color: #eafdf4;
  color: #b1b1b1;
}
.more-page ul .active {
  background-color: #0d8f52 !important;
}
.more-page ul .active a {
  background-color: #0d8f52 !important;
  color: #fff !important;
  border: 1px solid #0d8f52 !important;
}

.custom-select {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve"%3E%3Cg%3E%3Cg id="arrow-drop-down"%3E%3Cpolygon points="0,63.75 127.5,191.25 255,63.75 "/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A');
}

.swiper-pagination-bullet-active {
  background-color: #0d8f52;
}

.dropdown-toggle::after {
  content: none !important;
}
.dropdown-toggle:focus {
  outline: none;
}

.note-dropdown-item {
  background-color: #e4e4e4 !important;
  border-radius: 0.2rem !important;
  display: block !important;
  color: #535353 !important;
  padding: 0 !important;
  margin: 5px 0 !important;
}
.note-dropdown-item h1 {
  font-size: 2.1rem !important;
  font-weight: 600;
}
.note-dropdown-item h2 {
  font-size: 1.9rem !important;
  font-weight: 600;
}
.note-dropdown-item h3 {
  font-size: 1.6rem !important;
  font-weight: 600;
}
.note-dropdown-item h4 {
  font-size: 1.4rem !important;
  font-weight: 600;
}
.note-dropdown-item h5 {
  font-size: 1.2rem !important;
  font-weight: 600;
}
.note-dropdown-item h6 {
  font-size: 0.9rem !important;
  font-weight: 600;
}
.note-dropdown-item p {
  font-size: 1rem !important;
  color: #535353 !important;
}
.note-editable {
  background-color: #fff !important;
}
.note-editable p {
  font-weight: 400 !important;
  color: #535353 !important;
  margin-bottom: 0 !important;
  font-size: 1rem !important;
}
.note-editable h1,
.note-editable h2,
.note-editable h3,
.note-editable h4,
.note-editable h5,
.note-editable h6 {
  color: #535353;
  font-weight: 600;
}

blockquote {
  border-width: 0.3rem;
  border-color: #0d8f52;
}

.note-editor.note-airframe.fullscreen,
.note-editor.note-frame.fullscreen {
  z-index: 99999 !important;
}

.note-modal-footer {
  height: 4rem;
}

.note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-editable {
  padding: 10px 25px;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

header nav ul {
  margin-bottom: 0;
}
header nav ul li a {
  color: #535353;
  font-size: 1rem;
  transition: 0.3s;
}
header nav ul li a .navbar-badge {
  top: 5px;
  right: 5px;
}
header nav ul li a:hover {
  color: #0d8f52;
}

.dropdown-item-title {
  color: #535353;
}
.dropdown-item-title .text-sm {
  color: #535353;
}
.dropdown-item:active {
  background-color: #0d8f52;
  color: #fff;
}

.wrapper .main-header {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper .main-header {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper .main-header {
    margin-left: 0 !important;
  }
}
.wrapper .content-wrapper {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper .content-wrapper {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper .content-wrapper {
    margin-left: 0 !important;
  }
}
.wrapper footer {
  margin-left: 270px !important;
}
@media (max-width: 1200px) {
  .wrapper footer {
    margin-left: 250px !important;
  }
}
@media (max-width: 991px) {
  .wrapper footer {
    margin-left: 0 !important;
  }
}

:not(.layout-fixed) .main-sidebar {
  position: fixed !important;
  width: 270px;
  height: 100%;
  z-index: 99999;
}
@media (max-width: 1200px) {
  :not(.layout-fixed) .main-sidebar {
    width: 250px;
  }
}

.main-sidebar {
  margin-top: 0 !important;
  border-radius: 0;
}

aside {
  background-color: #F9F9F9;
  width: max-content;
}
aside .brand-link {
  color: #fff !important;
  padding-left: 0.8rem;
}
aside .brand-link:hover {
  color: #fff;
}
aside .brand-link h4 {
  font-size: 1.5rem;
  margin: 0;
}
aside .sidebar .user-panel .info a {
  color: #b1b1b1;
  font-size: 0.9rem;
}
aside .sidebar nav .nav-sidebar li {
  width: 100%;
}
aside .sidebar nav .nav-sidebar li a {
  padding: 0.5rem;
}
aside .sidebar nav .nav-sidebar li a i {
  font-size: 0.9rem !important;
}
aside .sidebar nav .nav-sidebar li a p {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Product Sans";
}
aside .sidebar nav .nav-sidebar li .active {
  background-color: #0d8f52 !important;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0;
  font-size: 0.8rem;
  color: #b1b1b1;
}
footer p b {
  color: #535353;
  font-weight: 500;
}

.fixed-header {
  position: relative;
}

.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
  top: 0.99rem;
  transition: 0.3s !important;
}

@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-family: "Poppins";
  font-weight: 600;
}
@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  src: url("../../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-family: "Poppins";
  font-weight: 500;
}
@font-face {
  src: url("../../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-family: "Product Sans";
  font-weight: 600;
}
@font-face {
  src: url("../../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-family: "Product Sans";
  font-weight: 400;
}
.main-box {
  margin-top: 1rem;
  border: 1px solid #ececec;
  border-radius: 0.3rem;
  background-color: #fff;
}
.main-box-title {
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
  border-bottom: 1px solid #f9f9f9;
}
.main-box-title h4 {
  margin-bottom: 0;
  color: #535353;
  font-size: 1.2rem;
}
.main-box-content {
  padding: 0 1rem;
  margin: 1rem 0;
}
.main-box-content .single-box {
  border: 1px solid #ececec;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 0.5rem -0.4rem #bebebe;
}
.main-box-content .single-box:last-child {
  margin-bottom: 0;
}
.main-box-content .single-box .form-group {
  margin-top: 1rem;
}
.main-box-content .single-box-title {
  padding: 0.5rem 1rem;
  background-color: #ececec;
}
.main-box-content .single-box-title h4 {
  margin-bottom: 0;
  color: #535353;
  font-size: 1.2rem;
  font-family: "Product Sans";
}
@media (max-width: 575px) {
  .main-box-content .single-box-title h4 {
    font-size: 1.1rem;
  }
}
.main-box-content .single-box-content {
  padding: 0.5rem 1rem;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #f1f1f1 !important;
  font-size: 0.9rem !important;
  color: #b1b1b1;
}
@media (max-width: 767px) {
  .select2-container--classic .select2-search--dropdown .select2-search__field {
    font-size: 0.8rem;
  }
}
.select2-container--classic .select2-results__option {
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .select2-container--classic .select2-results__option {
    font-size: 0.8rem;
  }
}
.select2-container--classic .select2-results__option[aria-selected=true] {
  background-color: #0b7845;
  color: #fff;
}
.select2-container--open {
  border-color: #f1f1f1 !important;
  z-index: 9999999;
}
.select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #0d8f52;
  transition: 0.3s;
}
.select2-container .select2-results__option--highlighted[aria-selected]:hover {
  background-color: #0d8f52;
}
.select2-selection--single {
  height: 2.5rem !important;
  border: 1px solid #f1f1f1 !important;
  border-radius: 0.2rem !important;
  background-color: transparent !important;
  background-image: none !important;
}
.select2-selection--single:focus {
  outline: none !important;
  border: 1px solid #d3fbe8 !important;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.select2-selection--multiple {
  border: 1px solid #f1f1f1 !important;
  border-radius: 0.2rem !important;
  background-color: transparent !important;
  background-image: none !important;
}
.select2-selection--multiple .select2-selection__choice {
  background-color: #eafdf4 !important;
  border: 1px solid #f1f1f1 !important;
  color: #535353;
}
.select2-selection__arrow {
  margin-top: -0.2rem;
  height: 100% !important;
  background-image: none !important;
  background-color: transparent !important;
  border: none !important;
  right: 0;
}
.select2-selection__rendered {
  font-size: 0.9rem;
  color: #535353;
  height: 100%;
  line-height: 2.5rem !important;
}
@media (max-width: 767px) {
  .select2-selection__rendered {
    font-size: 0.8rem !important;
  }
}
.select2-selection__rendered .select2-search__field {
  width: 100% !important;
  font-size: 0.9rem !important;
  line-height: 2.5rem;
  margin-top: 0 !important;
}
.select2-selection__rendered .select2-search__field::placeholder {
  color: #f1f1f1 !important;
  font-size: 0.9rem;
}
.select2 .select2-selection__placeholder {
  color: #f1f1f1 !important;
  font-size: 0.9rem !important;
}
.select2-dropdown {
  border: 1px solid #f1f1f1 !important;
}

.select2-container--default .select2-dropdown .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field:focus {
  border: 1px solid #d3fbe8;
}

.select2-selection {
  overflow: hidden;
}

.select2-selection__rendered {
  white-space: normal;
  word-break: break-all;
}

.modal-content .header {
  padding: 0.8rem 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modal-content .header h4 {
  margin-bottom: 0;
  color: #0d8f52;
  font-size: 1.2rem;
}
.modal-content p {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #0d8f52;
  padding-bottom: 0.5rem;
  font-family: "Product Sans";
  font-weight: 600;
}
.modal-content a {
  font-size: 0.9rem;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 3rem;
  background-color: #0d8f52;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
  align-items: center;
  margin: 0 0 1rem 0;
}
.modal-content a i {
  font-size: 0.9rem;
  vertical-align: middle;
}
.modal-content .form-group .modal-btn {
  background-color: #0d8f52;
  border: 1px solid #0d8f52;
  width: 8rem;
  height: 3rem;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
  margin-top: 3rem;
}
@media (max-width: 575px) {
  .modal-content .form-group .modal-btn {
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}
.modal-content .form-group .modal-btn:hover {
  background-color: transparent;
  color: #0d8f52;
}
.modal-content .btn-group button {
  margin-right: 0.5rem;
}

.modal-dialog {
  max-width: 60%;
}
@media (max-width: 991px) {
  .modal-dialog {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .modal-dialog {
    max-width: 80%;
  }
}
@media (max-width: 575px) {
  .modal-dialog {
    max-width: 95%;
  }
}
.modal-dialog .modal-content {
  padding: 0 1rem;
  overflow-y: auto;
}
@media (max-width: 991px) {
  .modal-dialog {
    margin-top: 4rem;
  }
}

.small {
  margin: auto;
}
.small .modal-dialog {
  width: 30%;
  margin: auto;
}
@media (max-width: 1200px) {
  .small .modal-dialog {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .small .modal-dialog {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .small .modal-dialog {
    width: 65%;
  }
}
@media (max-width: 575px) {
  .small .modal-dialog {
    width: 90%;
  }
}

#delete p {
  color: #535353;
}

.delete .modal-dialog {
  max-width: 26%;
}
@media (max-width: 1200px) {
  .delete .modal-dialog {
    max-width: 40%;
  }
}
@media (max-width: 991px) {
  .delete .modal-dialog {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .delete .modal-dialog {
    max-width: 70%;
  }
}
@media (max-width: 575px) {
  .delete .modal-dialog {
    max-width: 100%;
  }
}
.delete .modal-dialog .modal-content p {
  margin: 2rem 0;
  color: #b1b1b1 !important;
}
.delete .modal-dialog .modal-content .form-group .modal-btn {
  margin-top: 0;
}

.modal {
  z-index: 9999999;
}

#project-view .main-box-content-details .right ul li button, #project-view .main-box-content-details .right ul li a {
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  display: block;
  color: #535353;
  transition: 0.3s;
}
#project-view .main-box-content .row {
  row-gap: 1.2rem;
}
#project-view .main-box-content-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 1rem;
}
#project-view .main-box-content-details .left {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
#project-view .main-box-content-details .left ul {
  list-style: none;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  row-gap: 1rem;
}
#project-view .main-box-content-details .left ul li p {
  margin: 0;
  font-size: 1rem;
  color: #535353;
}
#project-view .main-box-content-details .left ul li a {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}
#project-view .main-box-content-details .left ul li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
#project-view .main-box-content-details .left ul li ul {
  column-gap: 0.5rem;
}
#project-view .main-box-content-details .left ul li ul li:last-child {
  background-color: #0d8f52;
  text-align: center;
  border-radius: 50%;
}
#project-view .main-box-content-details .left ul li ul li a {
  color: #fff;
}
#project-view .main-box-content-details .left ul li ul li a i {
  font-size: 1rem;
  vertical-align: middle;
}
#project-view .main-box-content-details .right ul {
  list-style: none;
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 0;
  align-items: center;
}
#project-view .main-box-content-details .right ul li a {
  background-color: #fafafa;
  box-shadow: 0 0 0.3rem -0.2rem #535353;
}
#project-view .main-box-content-details .right ul li a:hover {
  color: #0d8f52;
}
#project-view .main-box-content-details .right ul li a i {
  vertical-align: middle;
  transform: rotate(-45deg);
  font-size: 1.2rem;
}
#project-view .main-box-content-details .right ul li button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background: #fff;
  border: 1px solid #b1b1b1;
  border-radius: 0.2rem;
  color: #535353;
}
#project-view .main-box-content-details .right ul li button:hover {
  background-color: #0d8f52;
  border-color: #0d8f52;
  color: #fff;
}
#project-view .main-box-content-details .right ul li button i {
  font-size: 1.2rem;
}
#project-view .main-box-content-details .right ul li button span {
  font-size: 1rem;
}
#project-view .main-box-content-progress {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
#project-view .main-box-content-progress .left p {
  margin-bottom: 0;
  color: #535353;
  font-size: 1rem;
}
#project-view .main-box-content-progress .right {
  width: 100%;
}
#project-view .main-box-content-progress .right .progress {
  border-radius: 0.2rem;
}
#project-view .main-box-content-progress .right .progress-bar {
  border-radius: 0.2rem;
  background-color: #0d8f52;
}
#project-view .main-box-content .single-box .task-columns {
  display: flex;
  column-gap: 1.5rem;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  #project-view .main-box-content .single-box .task-columns {
    flex-wrap: wrap;
    row-gap: 1.5rem;
  }
}
#project-view .main-box-content .single-box .task-columns-header {
  padding: 1rem 1.5rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
#project-view .main-box-content .single-box .task-columns-header h5 {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: #fff;
}
#project-view .main-box-content .single-box .task-columns-header a {
  display: block;
}
#project-view .main-box-content .single-box .task-columns-header a i {
  color: #535353;
  font-size: 1.5rem;
  vertical-align: middle;
}
#project-view .main-box-content .single-box .task-columns-body {
  padding: 1rem 0;
}
#project-view .main-box-content .single-box .task-columns-body .item-box {
  margin: 0 1.5rem 1rem;
  cursor: move;
}
#project-view .main-box-content .single-box .task-columns-body .item-box.active {
  margin: 0;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .ui-state-default {
  border: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1rem -0.9rem #000;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .ui-state-active {
  border: 0.001rem solid transparent;
  background-color: transparent;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .title .left a {
  text-decoration: none;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #535353;
  display: block;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .title .right a {
  display: block;
  color: #535353;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .title .right a i {
  font-size: 1rem;
  vertical-align: center;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content .progress-container {
  position: relative;
  padding: 1.5rem 0 0.8rem 0;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content .progress-container .point {
  position: absolute;
  right: 0;
  top: 0;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content .progress-container .point p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: #b1b1b1;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content-center .left p {
  font-size: 0.8rem;
  color: #535353;
  margin-bottom: 0;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content-center .right ul {
  margin-bottom: 0;
  display: flex;
  column-gap: 0.5rem;
  list-style: none;
  align-items: center;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content-center .right ul li {
  width: 1.5rem;
  height: 1.5rem;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content-center .right ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content-center .right ul li a img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content-center .right ul li a span {
  background-color: #0d8f52;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content .deadline {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
#project-view .main-box-content .single-box .task-columns-body .item-box .content .deadline p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0;
}

.pending .task-columns-header {
  background-color: #ff9171;
}
.pending .task-columns-body {
  background-color: #fff4f1;
}
.pending .progress {
  background-color: #fff8f6;
}
.pending .progress-bar {
  background-color: #ff9171;
}

.in-progress .task-columns-header {
  background-color: #bb99cd;
}
.in-progress .task-columns-body {
  background-color: #f4eff7;
}
.in-progress .progress {
  background-color: #f6f2f9;
}
.in-progress .progress-bar {
  background-color: #bb99cd;
}

.completed .task-columns-header {
  background-color: #0fa65f;
}
.completed .task-columns-body {
  background-color: #f4fef9;
  opacity: 0.6;
}
.completed .task-columns-body .title .left a {
  text-decoration: line-through !important;
}
.completed .task-columns-body .content-center .left p {
  text-decoration: line-through !important;
}
.completed .progress {
  background-color: #eafdf4;
}
.completed .progress-bar {
  background-color: #0d8f52;
}

.upcoming .task-columns-header {
  background-color: #a1c5ad;
}
.upcoming .task-columns-body {
  background-color: #f0f6f2;
}
.upcoming .progress {
  background-color: #eafdf4;
}
.upcoming .progress-bar {
  background-color: #0d8f52;
}

.qa .task-columns-header {
  background-color: #be0000;
}
.qa .task-columns-body {
  background-color: #fff1f1;
}
.qa .progress {
  background-color: white;
}
.qa .progress-bar {
  background-color: #ff7171;
}

.deadline-short {
  background-color: #fff1f1;
}
.deadline-short p {
  color: #a40000;
}

.deadline-low {
  background-color: #eafdf4;
}
.deadline-low p {
  color: #0d8f52;
}

.deadline-medium {
  background-color: #fff3d5;
}
.deadline-medium p {
  color: #d59a00;
}

.deadline-complete {
  background-color: #0d8f52;
}
.deadline-complete p {
  color: #fff;
}

.dropdown-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #535353;
}
.dropdown-item i {
  font-size: 1rem;
  color: #535353;
}
.dropdown-item:active {
  background-color: #0d8f52;
}
.dropdown-item:active i {
  color: #fff;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background-color: lightgray;
  border: 1px solid lightgray;
  height: 100%;
}

.range {
  position: relative;
}
.range input {
  position: absolute;
  right: 5px;
  top: 10px;
  border: 0;
  font-weight: bold;
  color: #535353;
  font-size: 0.8rem !important;
  font-weight: 400;
  text-align: right;
}
.range input:focus {
  outline: none;
}
.range .ui-state-active:active {
  background-color: #0d8f52;
}
.range .ui-state-active:focus {
  outline: none;
}
.range .ui-widget.ui-widget-content {
  border: 1px solid #e4e4e4;
}
.range .ui-widget-header {
  background-color: #0d8f52;
}
.range .ui-state-default,
.range .ui-widget-content .ui-state-default {
  border: 1px solid #e4e4e4;
}
.range .ui-state-default:focus,
.range .ui-widget-content .ui-state-default:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
