@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

.similar-offer, .description, footer {
  padding-top: 5rem;
}
@media (max-width: 991px) {
  .similar-offer, .description, footer {
    padding-top: 3.5rem;
  }
}
@media (max-width: 767px) {
  .similar-offer, .description, footer {
    padding-top: 1.5rem;
  }
}

.similar-offer, .description {
  padding-bottom: 5rem;
}
@media (max-width: 991px) {
  .similar-offer, .description {
    padding-bottom: 3.5rem;
  }
}
@media (max-width: 767px) {
  .similar-offer, .description {
    padding-bottom: 1.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
@media (max-width: 991px) {
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  a {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  a {
    font-size: 0.9rem;
  }
}

input {
  font-size: 1.2rem !important;
}
@media (max-width: 991px) {
  input {
    font-size: 1rem !important;
  }
}
@media (max-width: 767px) {
  input {
    font-size: 0.9rem !important;
  }
}

button {
  font-family: "Product Sans";
}
@media (max-width: 991px) {
  button {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  button {
    font-size: 0.9rem;
  }
}
button:focus {
  outline: none;
}

.btn-pr {
  background-color: #0D8F52;
  box-shadow: 0px 13px 15px -15px #44bd32;
  color: #fff;
  font-weight: 400;
  font-family: "Product Sans";
  font-size: 1.1rem;
  border: 1px solid #0d8f5254;
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 1rem 4rem;
  letter-spacing: 1px;
}
@media (max-width: 575px) {
  .btn-pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn-pr img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 0.3rem;
}
@media (max-width: 991px) {
  .btn-pr {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-pr {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }
}

.secondary {
  background-color: transparent;
  color: #0D8F52;
}

.jc__between {
  justify-content: space-between;
}

.ai__end {
  align-items: flex-end;
}

.ai__center {
  align-items: center;
}

img {
  width: 100%;
}

.h__100 {
  height: 100%;
}

.hr__ {
  margin: 0;
  width: 100%;
  z-index: 1111;
  margin-top: 2rem;
}

.btn__pr {
  background: #0D8F52;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 111;
  font-family: "Product Sans";
  box-shadow: 0px 13px 15px -12px #0D8F52;
}
@media (max-width: 575px) {
  .btn__pr {
    font-size: 1rem;
    padding: 0.5rem 3rem;
  }
}
.btn__pr:focus {
  outline: none;
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px -3px #000000a1;
}
.fixed-header nav .navbar-brand {
  color: #535353;
}
.fixed-header nav .navbar-nav li a {
  color: #535353;
}
.fixed-header nav .navbar-nav li a::before {
  background-color: #0D8F52;
}
.fixed-header nav .navbar-nav li .active::before {
  background-color: #0D8F52;
}

label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  label {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  label {
    font-size: 0.9rem;
  }
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #0d8f525e;
  border-color: #0d8f525e;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0D8F52;
  border-color: #0D8F52;
}

.datepicker-dropdown {
  z-index: 9999 !important;
}

.danger {
  color: #a40000;
}

.del {
  background-color: #a40000 !important;
  border: 1px solid #a40000 !important;
  box-shadow: 0px 13px 15px -15px #ff7171 !important;
}
.del:hover {
  background-color: transparent !important;
  color: #a40000 !important;
}

.form-group label {
  font-size: 0.9rem;
  color: #b1b1b1;
  font-weight: 400 !important;
}
@media (max-width: 767px) {
  .form-group label {
    font-size: 0.8rem;
  }
}
.form-group .input-group-text {
  background-color: #eafdf4;
  color: #b1b1b1;
  border: 1px solid #f1f1f1;
  font-size: 1.3rem;
  vertical-align: middle;
  display: inline-flex;
}
@media (max-width: 767px) {
  .form-group .input-group-text {
    font-size: 1.1rem;
  }
}
.form-group .custom-select {
  padding: 0.5rem;
  height: 2.5rem;
  vertical-align: top;
  font-size: 0.9rem;
  border: 1px solid #f1f1f1;
  box-shadow: none;
}
@media (max-width: 575px) {
  .form-group .custom-select {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option {
  font-size: 1rem;
}
@media (max-width: 575px) {
  .form-group .custom-select option {
    font-size: 0.9rem;
  }
}
.form-group .custom-select option:hover {
  background-color: #0D8F52;
}
.form-group .custom-select:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}
.form-group .form-control {
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 0.9rem !important;
  border: 1px solid #f1f1f1;
}
.form-group .form-control::placeholder {
  color: #f1f1f1;
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .form-group .form-control::placeholder {
    font-size: 0.8rem;
  }
}
.form-group .form-control:focus {
  outline: none;
  border: 1px solid #d3fbe8;
  box-shadow: 0 0 0.5rem -0.2rem #d3fbe8;
}

.tox-tinymce {
  border: 1px solid #f1f1f1 !important;
  border-radius: 0.3rem !important;
  font-family: "Product Sans", sans-serif !important;
}

.tox .tox-menubar + .tox-toolbar,
.tox .tox-menubar + .tox-toolbar-overlord .tox-toolbar__primary {
  border-top: 1px solid #f1f1f1 !important;
  margin-top: -1px;
}

.tox .tox-statusbar {
  border-top: 1px solid #f1f1f1 !important;
}

.tox.tox-tinymce:not(.tox-tinymce-inline) .tox-editor-header:not(:first-child) .tox-menubar {
  border-top: 1px solid #f1f1f1 !important;
}

.tox.tox-tinymce {
  height: 300px !important;
}

.modal-dialog .modal-content .form-group .btn-pr {
  padding: 0.5rem 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.more-page {
  margin-top: 1rem;
  display: table;
  margin-left: auto;
}
.more-page ul {
  margin-bottom: 0;
}
.more-page ul li a {
  color: #b1b1b1;
  transition: 0.3s;
  font-size: 1rem;
  font-family: "Product Sans";
  border: none;
  border: 1px solid #0D8F52 !important;
}
.more-page ul li a:focus {
  box-shadow: none;
  outline: none;
  background-color: #0D8F52 !important;
  color: #fff !important;
}
.more-page ul li a:hover {
  background-color: #eafdf4;
  color: #b1b1b1;
}
.more-page ul .active {
  background-color: #0D8F52 !important;
}
.more-page ul .active a {
  background-color: #0D8F52 !important;
  color: #fff !important;
  border: 1px solid #0D8F52 !important;
}

.custom-select {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve"%3E%3Cg%3E%3Cg id="arrow-drop-down"%3E%3Cpolygon points="0,63.75 127.5,191.25 255,63.75 "/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A');
}

@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../dist/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Product Sans";
  src: url("../../../dist/fonts/ProductSans/Product-Sans-Regular.ttf");
  font-weight: 400;
}
footer {
  background-color: #f9f9f9;
}
footer .footer-header {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  footer .footer-header {
    margin-bottom: 0.5rem;
  }
}
footer .footer-header h2 {
  font-weight: 400;
  color: #535353;
  font-family: "Product Sans";
}
footer .footer-header h4 {
  font-weight: 400;
  color: #535353;
  font-family: "Product Sans";
}
@media (max-width: 767px) {
  footer .footer-content {
    margin-bottom: 1.5rem;
  }
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content ul li {
  padding: 0.3rem 0;
}
footer .footer-content ul li a {
  color: #535353;
  font-size: 1.1rem;
  font-family: "Product Sans";
}
@media (max-width: 767px) {
  footer .footer-content ul li a {
    font-size: 1rem;
  }
}
footer .footer-content ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul {
  list-style: none;
  display: flex;
}
footer .footer-social ul li {
  margin-right: 1rem;
}
footer .footer-social ul li a:hover {
  text-decoration: none;
}
footer .footer-social ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  object-position: bottom;
}
@media (max-width: 767px) {
  footer .footer-social ul li a img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
footer .copyright {
  padding-top: 2rem;
}
footer .copyright p {
  color: #535353;
  font-weight: 400;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  footer .copyright p {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  footer .copyright p {
    font-size: 0.9rem;
  }
}

header {
  background-color: #F9F9F9;
}
header .material-icons {
  color: #535353;
}
header nav .navbar-brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #535353;
}
header nav .navbar-nav li {
  padding: 0 1.5rem;
  position: relative;
}
@media (max-width: 991px) {
  header nav .navbar-nav li {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  header nav .navbar-nav li {
    padding: 0;
  }
}
header nav .navbar-nav li .active::before {
  position: absolute;
  content: "";
  background-color: #0D8F52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: 0%;
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
header nav .navbar-nav li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Product Sans";
  font-weight: 400;
  color: #535353;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}
@media (max-width: 767px) {
  header nav .navbar-nav li a {
    display: inline-block;
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  header nav .navbar-nav li a {
    font-size: 0.9rem;
  }
}
header nav .navbar-nav li a::before {
  position: absolute;
  content: "";
  background-color: #0D8F52;
  height: 0.1rem;
  width: 65%;
  border-radius: 0.5rem;
  left: -50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
header nav .navbar-nav li a:hover::before {
  visibility: visible;
  opacity: 1;
  left: 0;
}
header nav .navbar-nav li .signup {
  margin-left: 2.5rem;
}
@media (max-width: 767px) {
  header nav .navbar-nav li .signup {
    margin-left: 0;
  }
}

.banner {
  background-color: #F9F9F9;
}
.banner-content {
  padding: 4rem 0;
  text-align: center;
}
@media (max-width: 991px) {
  .banner-content {
    padding: 3rem 0;
  }
}
.banner-content h2 {
  font-size: 2.2rem;
  color: #535353;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .banner-content h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .banner-content h2 {
    font-size: 1.6rem;
  }
}
.banner-content p {
  color: #b1b1b1;
  padding: 0 13rem;
  margin: 0;
}
@media (max-width: 991px) {
  .banner-content p {
    padding: 0 5rem;
  }
}
@media (max-width: 767px) {
  .banner-content p {
    padding: 0;
  }
}

.description-left {
  margin-bottom: 2.5rem;
}
@media (max-width: 991px) {
  .description-left {
    margin-bottom: 1rem;
  }
}
.description-left .title {
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .description-left .title {
    margin-bottom: 1rem;
  }
}
.description-left .title h4 {
  color: #535353;
  font-size: 1.1rem;
  margin: 0;
}
@media (max-width: 575px) {
  .description-left .title h4 {
    font-size: 1rem;
  }
}
.description-left .top-list ul {
  margin-left: 1.3rem;
}
.description-left .top-list ul li {
  color: #b1b1b1;
  font-size: 1rem;
  position: relative;
  line-height: 2rem;
}
@media (max-width: 991px) {
  .description-left .top-list ul li {
    line-height: 1.5rem;
  }
}
@media (max-width: 575px) {
  .description-left .top-list ul li {
    font-size: 0.9rem;
  }
}
.description-left .top-list ul li::before {
  content: "•";
  color: #535353;
  font-weight: 600;
  display: inline-block;
  width: 1.3rem;
  margin-left: -1.3rem;
  font-size: 1.4rem;
  margin-top: -3px;
  vertical-align: middle;
}
.description-left .list-unstyled li {
  color: #b1b1b1;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (max-width: 575px) {
  .description-left .list-unstyled li {
    font-size: 0.9rem;
  }
}
.description-right p {
  color: #b1b1b1;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 575px) {
  .description-right p {
    font-size: 0.9rem;
  }
}
.description-right .top-des {
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .description-right .top-des {
    margin-bottom: 0.5rem;
  }
}
.description-right .list {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.description-right .list li {
  color: #b1b1b1;
  font-size: 1rem;
}
@media (max-width: 575px) {
  .description-right .list li {
    font-size: 0.9rem;
  }
}
.description-right button {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 2rem 0.2rem #0d8f5252;
  font-size: 1rem;
}
@media (max-width: 575px) {
  .description-right button {
    box-shadow: 0 0.6rem 1rem -0.3rem #0d8f5252;
    font-size: 0.9rem;
  }
}
.description-right button img {
  width: 0.8rem;
  object-fit: contain;
  margin-right: 0.5rem;
  width: 0.7rem;
}

.similar-offer {
  position: relative;
  background-image: url(../img/icons/similar-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
@media (max-width: 1200px) {
  .similar-offer {
    background-size: contain;
  }
}
.similar-offer-card {
  padding: 1rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.089);
  transition: 0.3s;
  border-radius: 0.3rem;
}
@media (max-width: 991px) {
  .similar-offer-card {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .similar-offer-card {
    padding: 1rem 1.5rem;
  }
}
.similar-offer-card:hover {
  box-shadow: 0.3rem 0.3rem 1rem 0.5rem rgba(0, 0, 0, 0.05);
}
.similar-offer-card .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media (max-width: 575px) {
  .similar-offer-card .head {
    flex-wrap: wrap-reverse;
  }
}
.similar-offer-card .head p {
  margin: 0;
  font-size: 1rem;
  color: #535353;
}
@media (max-width: 575px) {
  .similar-offer-card .head p {
    font-size: 0.9rem;
  }
}
.similar-offer-card .head .job-type {
  background-color: #F3F3F3;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}
.similar-offer-card .head .job-type p {
  margin: 0;
  font-size: 0.8rem;
  color: #0D8F52;
}
.similar-offer-card .des {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .similar-offer-card .des {
    margin-bottom: 1rem;
  }
}
.similar-offer-card .des p {
  color: #b1b1b1;
  font-size: 1.1rem;
  margin: 0;
}
@media (max-width: 575px) {
  .similar-offer-card .des p {
    font-size: 1rem;
  }
}
.similar-offer-card .bottom a {
  color: #0D8F52;
  font-size: 1rem;
}
@media (max-width: 575px) {
  .similar-offer-card .bottom a {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
